# FIT5196 Assessment 2 Task 2
#### Student Name: Vipul Krishnan Muralee Dharan
#### Student ID: 28104641

Date: 11/05/2018

Version: 1.0

Environment: Python 3.6.1 and Anaconda 4.3.21 (64-bit)

Libraries used:
* pandas v0.20.1 (for dataframe operations)
* fuzzywuzzy v0.16.0 (for string comparison)
* numpy v1.12.1(for mathematical operations)
* rendom (python module, comes with python)(for generating random numbers)

## 1. Introduction
Task 2 includes 
* correcting schema conflicts, following the schema of dataset1
* implement the semantic mapping and merge between dataset1 and datset2 to produce one unified table
* detect and resolve duplication in the unified table.
* find a proper global key for the integrated job data and explain.

## 2. Installing and Importing Libraries

We need the fuzzywuzzy library for this task. We use it in various places for string comparison. Fuzzywuzzy uses another library 'python-Levenshtein' for speeding up its processes (SeatGeek, 2018). If these libraries are not istalled, please install them using the below code and then import all libraries.

In [1]:
!pip install python-Levenshtein
!pip install fuzzywuzzy

Requirement already satisfied: python-Levenshtein in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from python-Levenshtein)

You are using pip version 9.0.2, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: fuzzywuzzy in c:\programdata\anaconda3\lib\site-packages

You are using pip version 9.0.2, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from fuzzywuzzy import fuzz
from random import randint
import numpy as np

## 3. Loading and Examining Data
The first step is to load the data from the CSV file.

In [3]:
# loading the data as pandas dataframe
df1 = pd.read_csv("dataset1_solution.csv")
df2 = pd.read_csv("dataset2_integration.csv")

# checking first 5 rows to see the structure of the data
df2.head()

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292,2012-02-22 00:00:00,2012-04-22 00:00:00

In [4]:
df1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,27504.0,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20131025T000000,20131224T000000

## 4. Resolving schema conflicts and merging data
Now we check for the schema conflicts.

### 4a. Detecting Schema Conflicts
We compare each column of df1 to curresponding column of schema 2 to find schema conflicts. We use different methods for this. We can compare data types of the values in the column and also use the semantics of the name of the attributes. 

Also we can compare the data itself. We can do this by comparing the df1 data itself for a number of times and obtainng the similarity value and then comparing the df1 values with df2 values. The the two averaged similarity values are then compared. If they are similar, then the columns in df1 and df2 have similar data.

As we can see, the number of columns are equal in both dataframes.

In [5]:
schemanamematch = []

# comparing the column names of each columns
for i in range(len(df1.columns)):
    schemanamematch.append(fuzz.ratio(df1.columns[i], df2.columns[i]))

print(schemanamematch)

[100, 12, 15, 30, 80, 30, 40, 25, 31, 100, 100]

In [6]:
schemadtmatch = []

# comparing the data types of each columns
for i in range(len(df1.columns)):
    schemadtmatch.append(1 if df1.dtypes[i] == df2.dtypes[i] else 0)

print(schemadtmatch)

[1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1]

In [7]:
datamatch = []

# checking data match
for c in range(len(list(df1.columns))):
    avlist = []
    # obtains the avg fuzz ratio value after comparing random selected values in the df1
    for i in range(10000):
        avlist.append(fuzz.ratio(str(df1.iloc[randint(0,len(df1) - 1), c]), str(df1.iloc[randint(0,len(df1) - 1), c])))
    df1avg = np.mean(avlist)
    crossavlist = []
    
    # obtains the avg fuzz ratio value after comparing random selected values in the df1 and df2
    for j in range(10000):
        crossavlist.append(fuzz.ratio(str(df1.iloc[randint(0,len(df1) - 1), c]), str(df2.iloc[randint(0,len(df1) - 1), c])))
    crossavg = np.mean(crossavlist)
    
    #finding the differnece between avg values
    datamatch.append(abs(df1avg - crossavg))
    
print(datamatch)

[7.8111000000000033, 10.9941, 6.0846999999999998, 55.48790000000001, 46.130399999999995, 14.461400000000001, 31.839000000000002, 55.3367, 50.525999999999996, 13.10710000000001, 12.740400000000001]

As we see, the first result says the field names matches for column 0,9 and 10 only. The second method says, the data types of the column matches for all except column 7 and 8.

The third method says there are significant data dissimilarities in columns 3,4,6,7,8 and possible conflicts in 1,

A combined analysis shows that there are some schema conflicts in all columns except first one.

### 4b. Semantic mapping and merge between dataset1 and datset2

This part includes mapping of each columns in df1 to curresponding columns in df2. 

We can use matchers for matching the attributes. In general we can use a number of matchers and use a combiner to increase the accuracy. But as our columns are properly named, a matcher which detects the similarities in column names would be enough for us.

The below code creates a similarity matrix based on column names

In [8]:
# similarity matrix
match = []

# for each column in df1
for i in df1.columns:
    row = []
    # for each column name in df2
    for j in df2.columns:
        # compare the names
        row.append(fuzz.ratio(i,j))
    # add the values in similarity matrix
    match.append(row)
    
match

[[100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 12, 100, 15, 22, 33, 0, 31, 19, 31, 29],
 [0, 32, 15, 88, 29, 38, 40, 38, 25, 25, 35],
 [0, 35, 24, 30, 96, 80, 42, 40, 29, 40, 48],
 [0, 43, 35, 40, 80, 96, 32, 40, 21, 40, 48],
 [0, 22, 0, 40, 40, 30, 100, 40, 17, 27, 38],
 [0, 21, 31, 38, 38, 38, 40, 100, 25, 38, 47],
 [0, 44, 19, 25, 28, 21, 26, 25, 75, 25, 24],
 [0, 95, 13, 33, 35, 43, 24, 22, 31, 33, 42],
 [0, 32, 31, 25, 38, 38, 27, 38, 33, 100, 59],
 [0, 40, 29, 47, 45, 45, 38, 47, 24, 59, 100]]

Now we write a code to obtain the most probable order of columns in df2 to correctly join with df1

In [9]:
# list for new order
reorder = []
# for each row, finding the position of max value and adding the index to array
for i in range(len(match)):
    reorder.append(match[i].index(max(match[i])))
reorder

[0, 2, 3, 4, 5, 6, 7, 8, 1, 9, 10]

Now we reorder the columns using this

In [10]:
# changing the colum indices to numbers
df2.columns = list(range(11))
# changing the column order
df2 = df2[reorder]
# readding the column names
df2.columns = df1.columns

Now the column order and names are uniform, But we need to check the data values are matching. For example, for the columns, ContractTime, ContractType and Category, the number of unique values are limited. But a look at both deataframe heads shows that these values are labled in different style. We can use semantic mapping to correct these error too. For example, if full-time df1 is labled as ft df2, we have to map ft to full-time. We use the below code for that. It also prints the mapping below as dictionaries..

In [11]:
# for each columns in specified list
for k in ['ContractType', 'ContractTime', 'Category']:
    
    # finds the unique values in df1 and df2
    df1ct = list(df1[k].unique())
    df2ct = list(df2[k].unique())
    
    # match matrix
    match1 = []
    
    # comparing each values from df1 with that of df2
    for i in df1ct:
        row = []
        for j in df2ct:
            # fuzzy is used for comparison along with a weight for same first letter
            row.append(fuzz.ratio(i,j) + (15 if (i[0] == j[0]) else 0))
        match1.append(row)
    
    repl = {}
    # each value in df2 is added as key and the value in df1 which maximize the match is added as value of the key
    for i in range(len(match1)):
        repl[df2ct[match1[i].index(max(match1[i]))]] = df1ct[i]
    
    # printing the dictionay
    print(repl)
    
    # replacing the values in df2
    df2[k].replace(repl, inplace = True)

{'n/a': 'non-specified', 'ft': 'full-time', 'pt': 'part-time'}
{'perm.': 'permanent', 'n/a': 'non-specified', 'contr.': 'contract'}
{'Engineering Jobs': 'Engineering Jobs', 'Finance & Accounting Jobs': 'Accounting & Finance Jobs', 'Healthcare & Nursing Jobs': 'Healthcare & Nursing Jobs', 'Hospitality & Catering Jobs': 'Hospitality & Catering Jobs', 'IT Jobs': 'IT Jobs', 'Sales Jobs': 'Sales Jobs', 'Teaching Jobs': 'Teaching Jobs', 'PR, Advertising & Marketing Jobs': 'PR, Advertising & Marketing Jobs'}

In [12]:
df2

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,69247680,Business Development Exec research / insight ...,London,full-time,permanent,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125,jobs.guardian.co.uk,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,Audit Senior London,London,full-time,contract,Pro Finance,Accounting & Finance Jobs,3600,icaewjobs.com,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,PR & Social Media Account Executive Top Inter...,Central London,full-time,permanent,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917,jobs.guardian.co.uk,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,Content Manager,London,full-time,permanent,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083,jobs.guardian.co.uk,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,AV PRODUCTION MANAGER,Worcestershire,full-time,permanent,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292,jobs.guardian.co.uk,2012-02-22 00:00:00,2012-04-22 00:00:00
5,69247712,Search Account Manager/Director (to go ClientS...,Central London,full-time,permanent,TANDEM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",4583,jobs.guardian.co.uk,2013-04-15 12:00:00,2013-07-14 12:00:00
6,69247714,Account Director – Oxford Salary up to **** d...,Oxfordshire,full-time,permanent,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",4375,jobs.guardian.co.uk,2012-04-01 15:00:00,2012-05-01 15:00:00
7,69247718,Marketing Executive **** month FTC North Oxf...,Oxfordshire,full-time,contract,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",2417,jobs.guardian.co.uk,2013-03-29 00:00:00,2013-06-27 00:00:00
8,69247722,Senior Search Executive Up to ****k Top inde...,London,full-time,permanent,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1833,jobs.guardian.co.uk,2012-08-25 15:00:00,2012-10-24 15:00:00
9,69247727,Portfolio Manager Credit Card,Wiltshire,full-time,permanent,NATIONWIDE BUILDING SOCIETY,"PR, Advertising & Marketing Jobs",3708,jobs.guardian.co.uk,2013-04-04 15:00:00,2013-06-03 15:00:00
10,69247777,Marketing and Communications Assistant,Buckinghamshire,full-time,permanent,SARGENTDISC,"PR, Advertising & Marketing Jobs",1750,jobs.guardian.co.uk,2013-05-13 15:00:00,2013-07-12 15:00:00
11,69247780,Digital Campaign Executive,London,full-time,permanent,SHAPE MEDIA LTD,"PR, Advertising & Marketing Jobs",1667,jobs.guardian.co.uk,2013-09-06 12:00:00,2013-11-05 12:00:00
12,69247846,Top 40 Senior Central London,The City,full-time,permanent,Pro Finance,Accounting & Finance Jobs,3458,icaewjobs.com,2012-04-03 12:00:00,2012-05-03 12:00:00
13,69247864,CONSULTING OPPORTUNITY ACA RECENTLY QUALIFIED,The City,full-time,permanent,Warner Scott Recruitment,Accounting & Finance Jobs,4708,icaewjobs.com,2013-11-29 15:00:00,2013-12-29 15:00:00
14,69247870,Corporate PR Account Director London agency ...,London,full-time,permanent,F1 RECRUITMENT,"PR, Advertising & Marketing Jobs",4167,jobs.guardian.co.uk,2013-01-10 00:00:00,2013-02-09 00:00:00
15,69247876,Russian speaking Account Manager for independe...,London,full-time,permanent,GABRIELE SKELTON LTD,"PR, Advertising & Marketing Jobs",3750,jobs.guardian.co.uk,2012-01-09 00:00:00,2012-03-09 00:00:00
16,69247894,Account Manager (Experiential Marketing),Berkshire,full-time,permanent,FISHTANK,"PR, Advertising & Marketing Jobs",2417,jobs.guardian.co.uk,2013-12-06 15:00:00,2014-02-04 15:00:00
17,69247900,Junior Digital Project Manager,Manchester,full-time,permanent,ORCHARD,"PR, Advertising & Marketing Jobs",1750,jobs.guardian.co.uk,2013-09-06 12:00:00,2013-10-06 12:00:00
18,69247901,Marketing Manager – Subscription Marketing (ma...,Central London,full-time,contract,ALBANY APPOINTMENTS,"PR, Advertising & Marketing Jobs",3083,jobs.guardian.co.uk,2012-02-09 00:00:00,2012-04-09 00:00:00
19,69247912,Account Handling Recruiter Blue Skies Richmond,London,full-time,permanent,BLUE SKIES,"PR, Advertising & Marketing Jobs",2292,jobs.guardian.co.uk,2013-01-20 00:00:00,2013-03-21 00:00:00
20,69247919,Numerate Graduate,London,full-time,permanent,REILLY PEOPLE,"PR, Advertising & Marketing Jobs",1542,jobs.guardian.co.uk,2013-10-26 12:00:00,2013-11-25 12:00:00
21,69247925,Integrated Designer Design Agency,Central London,full-time,permanent,SEARCH PARTY,"PR, Advertising & Marketing Jobs",3167,jobs.guardian.co.uk,2012-05-29 00:00:00,2012-07-28 00:00:00
22,69247927,Digital Planner Integrated Agency,London,full-time,permanent,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2917,jobs.guardian.co.uk,2012-08-12 00:00:00,2012-09-11 00:00:00
23,69247929,Marketing Manager Conferences,London,full-time,permanent,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2500,jobs.guardian.co.uk,2013-12-26 15:00:00,2014-02-24 15:00:00
24,69247930,Senior Events Marketing Manager,London,full-time,permanent,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",3958,jobs.guardian.co.uk,2012-11-22 00:00:00,2013-02-20 00:00:00
25,69247932,Marketing Executive Retail,London,full-time,permanent,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2167,jobs.guardian.co.uk,2012-06-07 15:00:00,2012-09-05 15:00:00
26,69247937,Digital Marketing Executive bilingual English...,Central London,full-time,permanent,SPOTLIGHT RECRUITMENT,"PR, Advertising & Marketing Jobs",2792,jobs.guardian.co.uk,2012-03-14 00:00:00,2012-05-13 00:00:00
27,69247938,Experienced (Senior) PR Account Manager,Cambridgeshire,full-time,permanent,BRAND RECRUITMENT,"PR, Advertising & Marketing Jobs",2917,jobs.guardian.co.uk,2012-04-21 12:00:00,2012-06-20 12:00:00
28,69247939,Marketing Executive Energy,London,full-time,permanent,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",1583,jobs.guardian.co.uk,2013-06-17 15:00:00,2013-09-15 15:00:00
29,69247941,Exhibition/Event Marketing Manager,Central London,full-time,permanent,FORMULA WON,"PR, Advertising & Marketing Jobs",3333,jobs.guardian.co.uk,2012-04-01 15:00:00,2012-06-30 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...
25246,72697232,CAD Technician Civil ****D,Nottingham,non-specified,permanent,Hays Specialist Recruit Ltd Construction,Engineering Jobs,2083,justengineers.net,2012-04-03 00:00:00,2012-05-03 00:00:00
25247,72697249,Ecology Consultant,Cambridge,non-specified,permanent,Fusion People Ltd,Engineering Jobs,2208,justengineers.net,2012-03-20 00:00:00,2012-05-19 00:00:00
25248,72697286,Training Delivery Instructor,UK,non-specified,permanent,Minstrell Recruitment LTD,Engineering Jobs,2083,justengineers.net,2013-12-19 00:00:00,2014-03-19 00:00:00
25249,72697289,Energy Sales Manager,Blackpool,non-specified,permanent,Morgan Hunt UK Limited,Engineering Jobs,1875,justengineers.net,2013-05-16 15:00:00,2013-08-14 15:00:00
25250,72697334,Experienced Tree Surgeon,Poole,non-specified,permanent,R S S Limited,Engineering Jobs,1340,justengineers.net,2013-10-01 15:00:00,2013-12-30 15:00:00
25251,72697363,Mechanical / Electrical Fitter,Wiltshire,non-specified,permanent,Resourcing Solutions Ltd,Engineering Jobs,958,justengineers.net,2013-02-21 15:00:00,2013-04-22 15:00:00
25252,72697506,Warranty Engineer,UK,non-specified,contract,Resourcing Solutions Ltd,Engineering Jobs,2000,justengineers.net,2013-09-09 00:00:00,2013-09-23 00:00:00
25253,72701954,Cad TechnicianCivil,Derbyshire,non-specified,contract,NaN,Engineering Jobs,2640,hays.co.uk,2013-12-26 12:00:00,2014-01-09 12:00:00
25254,72702355,Senior Operations Manager PPI,Middlesbrough,non-specified,contract,NaN,Accounting & Finance Jobs,8000,hays.co.uk,2013-07-03 12:00:00,2013-09-01 12:00:00
25255,72702599,Scientific Editorial Team Leader,London,full-time,permanent,Executive Facilities,Healthcare & Nursing Jobs,4167,jobsinsocialwork.co.uk,2013-06-26 15:00:00,2013-09-24 15:00:00
25256,72702787,Healthcare Development Manager,UK,non-specified,permanent,Barrington James Ltd,Healthcare & Nursing Jobs,4583,emedcareers.com,2013-04-07 12:00:00,2013-06-06 12:00:00
25257,72702792,Senior Medical Writers: Step up to Team Leader...,London,non-specified,permanent,NonStop Recruitment,Healthcare & Nursing Jobs,4583,emedcareers.com,2013-08-11 15:00:00,2013-09-10 15:00:00
25258,72702793,Medical Affairs Clinical Research Physician J...,UK,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,4583,emedcareers.com,2012-08-05 00:00:00,2012-10-04 00:00:00
25259,72702812,Clinical Sales Specialist,UK,non-specified,permanent,New Chapter Consulting,Healthcare & Nursing Jobs,3750,emedcareers.com,2012-07-29 12:00:00,2012-10-27 12:00:00
25260,72702814,Medical Devices Regulatory Affairs Manager Jo...,London,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,3750,emedcareers.com,2013-07-03 12:00:00,2013-10-01 12:00:00
25261,72702823,SAS Programmer All Levels Permanent,UK,non-specified,permanent,Skills Alliance Limited,Healthcare & Nursing Jobs,3333,emedcareers.com,2013-03-11 15:00:00,2013-05-10 15:00:00
25262,72702825,Pharmaceutical Analytical Team Leader Jobs in...,Northern Ireland,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,3542,emedcareers.com,2013-05-18 15:00:00,2013-07-17 15:00:00
25263,72702831,Senior Quality Auditor GCP,South East England,non-specified,permanent,Real,Healthcare & Nursing Jobs,3792,emedcareers.com,2012-03-06 00:00:00,2012-05-05 00:00:00
25264,72702839,Territory Sales Manager: South Midlands / Card...,UK,non-specified,permanent,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,3458,emedcareers.com,2012-10-26 15:00:00,2012-12-25 15:00:00
25265,72702840,Clinical Product Specialist: South Midlands / ...,East Midlands,non-specified,permanent,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,3458,emedcareers.com,2012-11-28 00:00:00,2013-02-26 00:00:00
25266,72702868,Senior Med Info Officer,Essex,non-specified,permanent,Key People Limited,Healthcare & Nursing Jobs,2833,emedcareers.com,2012-07-16 15:00:00,2012-09-14 15:00:00
25267,72702870,Territory Manager Orthopaedics,UK,non-specified,permanent,Ortho Executive Limited,Healthcare & Nursing Jobs,3333,emedcareers.com,2012-01-06 15:00:00,2012-04-05 15:00:00
25268,72702883,Territory Manager North West,UK,non-specified,permanent,Remtec Search and Selection,Healthcare & Nursing Jobs,3000,emedcareers.com,2013-05-13 00:00:00,2013-07-12 00:00:00
25269,72702927,Senior Clinical Research Associate (SCRA) UK,UK,non-specified,permanent,Barrington James Ltd,Healthcare & Nursing Jobs,2542,emedcareers.com,2012-11-04 12:00:00,2012-12-04 12:00:00
25270,72702933,IT Infrastructure Specialist (Mlnlycke Health ...,UK,non-specified,permanent,Molnlycke,Healthcare & Nursing Jobs,2375,emedcareers.com,2013-07-31 15:00:00,2013-10-29 15:00:00
25271,72702956,Pharmaceutical Analytical Chemist Jobs in Nor...,Northern Ireland,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,1917,emedcareers.com,2013-09-24 15:00:00,2013-10-24 15:00:00
25272,72702963,Medical Sales Representative South East Essex,UK,non-specified,contract,The Vacancy Management Company,Healthcare & Nursing Jobs,1875,emedcareers.com,2012-05-21 12:00:00,2012-06-20 12:00:00
25273,72703193,SENIOR PROJECT MANAGER EVENT & EXHIBITION AGENCY,Hertfordshire,full-time,permanent,Live Recruitment,"PR, Advertising & Marketing Jobs",2708,eventjobsearch.co.uk,2013-11-17 15:00:00,2013-12-17 15:00:00
25274,72705197,Curriculum Leader Mathematics,Wrexham,non-specified,permanent,NaN,Teaching Jobs,417,hays.co.uk,2012-01-15 12:00:00,2012-03-15 12:00:00
25275,72705203,TEACHER OF BUSINESS STUDIES AND LAW,Salisbury,non-specified,contract,NaN,Teaching Jobs,1900,hays.co.uk,2013-04-27 15:00:00,2013-05-11 15:00:00

The other issues in the schema are date format conflicts and the repesentation of salary/month in df2 vs salary/year in df1. We solve these now.

In [13]:
# solving date format conflicts
df2.loc[:,'OpenDate'] = df2.OpenDate.apply(lambda x:x.replace('-','').replace(':','').replace(' ','T')) 
df2.loc[:,'CloseDate'] = df2.CloseDate.apply(lambda x:x.replace('-','').replace(':','').replace(' ','T'))

In [14]:
# multiplying salary per month by 12 to approximate salary per annum
df2.loc[:,'Salary per annum'] = df2['Salary per annum'].apply(lambda x: x*12)

Now we can join the dataframes, and reset the column index.

In [15]:
# concatenating the dataframes
df = pd.concat([df1, df2])

In [16]:
# resetting row indices
df.reset_index()

,index,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,0,12612628,Engineering Systems Analyst,Dorking,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20121103T000000,20121203T000000
1,1,12612830,Stress Engineer Glasgow,Glasgow,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130108T150000,20130408T150000
2,2,12612844,Modelling and simulation analyst,Hampshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000.0,cv-library.co.uk,20130726T150000,20130924T150000
3,3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,27504.0,cv-library.co.uk,20121214T000000,20130314T000000
4,4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996.0,cv-library.co.uk,20131025T000000,20131224T000000
5,5,19047429,Trainee Mortgage Advisor East Midlands,East Midlands,non-specified,permanent,Brite Recruitment,Accounting & Finance Jobs,21000.0,cv-library.co.uk,20120724T000000,20120922T000000
6,6,20199757,"PROJECT ENGINEER, PHARMACEUTICAL",Witney,non-specified,permanent,Matchbox Recruiting Ltd,Healthcare & Nursing Jobs,37500.0,cv-library.co.uk,20130328T120000,20130427T120000
7,7,20797143,Chef de Partie Award Winning Restaurant Exce...,Derby,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,15996.0,caterer.com,20131027T000000,20131226T000000
8,8,22579462,Quality Engineer,Gateshead,non-specified,permanent,Asset Appointments,Engineering Jobs,21996.0,cv-library.co.uk,20130815T000000,20130914T000000
9,9,22933091,Chef de Partie Award Winning Dining Live In ...,UK,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,18000.0,caterer.com,20120814T000000,20120828T000000
10,10,23528672,Senior Fatigue and Damage Tolerance Engineer,Avon,non-specified,permanent,Gregory Martin International,Engineering Jobs,39504.0,cv-library.co.uk,20131019T120000,20131118T120000
11,11,23529949,C I Design Engineer,Wolverhampton,non-specified,permanent,Rullion Engineering Personnel Ltd,Engineering Jobs,33504.0,cv-library.co.uk,20121211T120000,20130110T120000
12,12,23530231,Lead Engineers (Stress),UK,non-specified,permanent,Gregory Martin International,Engineering Jobs,39504.0,cv-library.co.uk,20121113T120000,20130211T120000
13,13,24104334,"Relief Chef de Partie Croydon, Surrey Live in",UK,non-specified,non-specified,Towngate Personnel,Hospitality & Catering Jobs,17280.0,caterer.com,20131029T000000,20131128T000000
14,14,24835524,Senior Control and Instrumentation Engineer,Berkshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,41496.0,cv-library.co.uk,20121214T000000,20130113T000000
15,15,24835548,Control and Instrumentation Engineer,Berkshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,31500.0,cv-library.co.uk,20120709T120000,20120808T120000
16,16,24854800,Electrical / ICA Engineer,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,32496.0,cv-library.co.uk,20130205T000000,20130307T000000
17,17,25337172,Pastry Chef for **** red star **** rosette hot...,North East England,non-specified,non-specified,Clear Selection Spa And Leisure,Hospitality & Catering Jobs,24000.0,caterer.com,20130610T000000,20130809T000000
18,18,25452606,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,North Yorkshire,non-specified,non-specified,Clear Selection Spa And Leisure,Hospitality & Catering Jobs,15996.0,caterer.com,20130825T000000,20130924T000000
19,19,25452680,"Senior Sous Chef for **** rosette kitchen, up ...",North East England,non-specified,non-specified,Clear Selection Spa And Leisure,Hospitality & Catering Jobs,26004.0,caterer.com,20120101T120000,20120115T120000
20,20,25556432,"General Manager Funky, Cool Restaurant Concep...",East Sheen,non-specified,non-specified,Bee Recruitment London Ltd,Hospitality & Catering Jobs,31500.0,caterer.com,20130926T120000,20131026T120000
21,21,25892031,MICE Sales and Marketing Manager,Buckinghamshire,non-specified,non-specified,Chess Partnership,Hospitality & Catering Jobs,30000.0,caterer.com,20120825T120000,20121024T120000
22,22,27527047,C/C++ Developer,London,non-specified,permanent,Indigo 21 Ltd,IT Jobs,32496.0,cv-library.co.uk,20120519T150000,20120618T150000
23,23,27527050,Senior PHP Developer,Central London,non-specified,permanent,Indigo 21 Ltd,IT Jobs,45000.0,cv-library.co.uk,20120623T150000,20120822T150000
24,24,27527063,Senior Website Designer,York,non-specified,permanent,Indigo 21 Ltd,IT Jobs,24996.0,cv-library.co.uk,20130810T000000,20130909T000000
25,25,27527077,Business Development Manager,Newcastle Upon Tyne,non-specified,permanent,Asset Appointments,IT Jobs,21000.0,cv-library.co.uk,20120228T150000,20120428T150000
26,26,27739522,Welwyn Chef de Partie does it get any better t...,UK,non-specified,non-specified,Clear Selection Spa And Leisure,Hospitality & Catering Jobs,18000.0,caterer.com,20130106T120000,20130307T120000
27,27,27740574,Pastry Chef AL**** ****AA Rosette Restaurant,UK,non-specified,non-specified,Clear Selection Spa And Leisure,Hospitality & Catering Jobs,18996.0,caterer.com,20120320T120000,20120403T120000
28,28,27754996,QA Engineer,Cambridge,non-specified,permanent,Indigo 21 Ltd,IT Jobs,30000.0,cv-library.co.uk,20130531T150000,20130730T150000
29,29,28059808,Documentation Engineer,Manchester,non-specified,contract,Rullion Engineering Personnel Ltd,Engineering Jobs,48000.0,cv-library.co.uk,20130818T120000,20130917T120000
...,...,...,...,...,...,...,...,...,...,...,...,...
50323,25246,72697232,CAD Technician Civil ****D,Nottingham,non-specified,permanent,Hays Specialist Recruit Ltd Construction,Engineering Jobs,24996.0,justengineers.net,20120403T000000,20120503T000000
50324,25247,72697249,Ecology Consultant,Cambridge,non-specified,permanent,Fusion People Ltd,Engineering Jobs,26496.0,justengineers.net,20120320T000000,20120519T000000
50325,25248,72697286,Training Delivery Instructor,UK,non-specified,permanent,Minstrell Recruitment LTD,Engineering Jobs,24996.0,justengineers.net,20131219T000000,20140319T000000
50326,25249,72697289,Energy Sales Manager,Blackpool,non-specified,permanent,Morgan Hunt UK Limited,Engineering Jobs,22500.0,justengineers.net,20130516T150000,20130814T150000
50327,25250,72697334,Experienced Tree Surgeon,Poole,non-specified,permanent,R S S Limited,Engineering Jobs,16080.0,justengineers.net,20131001T150000,20131230T150000
50328,25251,72697363,Mechanical / Electrical Fitter,Wiltshire,non-specified,permanent,Resourcing Solutions Ltd,Engineering Jobs,11496.0,justengineers.net,20130221T150000,20130422T150000
50329,25252,72697506,Warranty Engineer,UK,non-specified,contract,Resourcing Solutions Ltd,Engineering Jobs,24000.0,justengineers.net,20130909T000000,20130923T000000
50330,25253,72701954,Cad TechnicianCivil,Derbyshire,non-specified,contract,NaN,Engineering Jobs,31680.0,hays.co.uk,20131226T120000,20140109T120000
50331,25254,72702355,Senior Operations Manager PPI,Middlesbrough,non-specified,contract,NaN,Accounting & Finance Jobs,96000.0,hays.co.uk,20130703T120000,20130901T120000
50332,25255,72702599,Scientific Editorial Team Leader,London,full-time,permanent,Executive Facilities,Healthcare & Nursing Jobs,50004.0,jobsinsocialwork.co.uk,20130626T150000,20130924T150000
50333,25256,72702787,Healthcare Development Manager,UK,non-specified,permanent,Barrington James Ltd,Healthcare & Nursing Jobs,54996.0,emedcareers.com,20130407T120000,20130606T120000
50334,25257,72702792,Senior Medical Writers: Step up to Team Leader...,London,non-specified,permanent,NonStop Recruitment,Healthcare & Nursing Jobs,54996.0,emedcareers.com,20130811T150000,20130910T150000
50335,25258,72702793,Medical Affairs Clinical Research Physician J...,UK,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,54996.0,emedcareers.com,20120805T000000,20121004T000000
50336,25259,72702812,Clinical Sales Specialist,UK,non-specified,permanent,New Chapter Consulting,Healthcare & Nursing Jobs,45000.0,emedcareers.com,20120729T120000,20121027T120000
50337,25260,72702814,Medical Devices Regulatory Affairs Manager Jo...,London,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,45000.0,emedcareers.com,20130703T120000,20131001T120000
50338,25261,72702823,SAS Programmer All Levels Permanent,UK,non-specified,permanent,Skills Alliance Limited,Healthcare & Nursing Jobs,39996.0,emedcareers.com,20130311T150000,20130510T150000
50339,25262,72702825,Pharmaceutical Analytical Team Leader Jobs in...,Northern Ireland,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,42504.0,emedcareers.com,20130518T150000,20130717T150000
50340,25263,72702831,Senior Quality Auditor GCP,South East England,non-specified,permanent,Real,Healthcare & Nursing Jobs,45504.0,emedcareers.com,20120306T000000,20120505T000000
50341,25264,72702839,Territory Sales Manager: South Midlands / Card...,UK,non-specified,permanent,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,41496.0,emedcareers.com,20121026T150000,20121225T150000
50342,25265,72702840,Clinical Product Specialist: South Midlands / ...,East Midlands,non-specified,permanent,BWB Associates trading as BW Penman,Healthcare & Nursing Jobs,41496.0,emedcareers.com,20121128T000000,20130226T000000
50343,25266,72702868,Senior Med Info Officer,Essex,non-specified,permanent,Key People Limited,Healthcare & Nursing Jobs,33996.0,emedcareers.com,20120716T150000,20120914T150000
50344,25267,72702870,Territory Manager Orthopaedics,UK,non-specified,permanent,Ortho Executive Limited,Healthcare & Nursing Jobs,39996.0,emedcareers.com,20120106T150000,20120405T150000
50345,25268,72702883,Territory Manager North West,UK,non-specified,permanent,Remtec Search and Selection,Healthcare & Nursing Jobs,36000.0,emedcareers.com,20130513T000000,20130712T000000
50346,25269,72702927,Senior Clinical Research Associate (SCRA) UK,UK,non-specified,permanent,Barrington James Ltd,Healthcare & Nursing Jobs,30504.0,emedcareers.com,20121104T120000,20121204T120000
50347,25270,72702933,IT Infrastructure Specialist (Mlnlycke Health ...,UK,non-specified,permanent,Molnlycke,Healthcare & Nursing Jobs,28500.0,emedcareers.com,20130731T150000,20131029T150000
50348,25271,72702956,Pharmaceutical Analytical Chemist Jobs in Nor...,Northern Ireland,non-specified,permanent,Flame Pharma,Healthcare & Nursing Jobs,23004.0,emedcareers.com,20130924T150000,20131024T150000
50349,25272,72702963,Medical Sales Representative South East Essex,UK,non-specified,contract,The Vacancy Management Company,Healthcare & Nursing Jobs,22500.0,emedcareers.com,20120521T120000,20120620T120000
50350,25273,72703193,SENIOR PROJECT MANAGER EVENT & EXHIBITION AGENCY,Hertfordshire,full-time,permanent,Live Recruitment,"PR, Advertising & Marketing Jobs",32496.0,eventjobsearch.co.uk,20131117T150000,20131217T150000
50351,25274,72705197,Curriculum Leader Mathematics,Wrexham,non-specified,permanent,NaN,Teaching Jobs,5004.0,hays.co.uk,20120115T120000,20120315T120000
50352,25275,72705203,TEACHER OF BUSINESS STUDIES AND LAW,Salisbury,non-specified,contract,NaN,Teaching Jobs,22800.0,hays.co.uk,20130427T150000,20130511T150000

### 4c. Detecting and Resolving Duplication in the Unified Table
The duplication detection can be done using the function df.duplicated(). We try using this function

In [17]:
# checking for duplicates. 
df[df.duplicated()]

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []

This suggests there are no duplicate rows with all the fields as duplicates, but still there can be some attributes as duplicates. We try describing the dataframe and finding the number of duplicates in each column.

In [18]:
df.describe(include = ['O'])

,Title,Location,ContractType,ContractTime,Company,Category,SourceName,OpenDate,CloseDate
count,50353,50353,50353,50353,49255,50353,50353,50353,50353
unique,50159,482,3,3,8369,8,95,2193,2413
top,French speaking Oracle Liferay Technician/Engi...,UK,non-specified,permanent,Not Available,IT Jobs,totaljobs.com,20130127T150000,20120908T150000
freq,2,8828,39956,32699,3836,13939,10134,41,40

In [19]:
for c in df.columns:
    print(c + " : " + str(len(df[df[c].duplicated()])))

Id : 0
Title : 194
Location : 49871
ContractType : 50350
ContractTime : 50350
Company : 41983
Category : 50345
Salary per annum : 48132
SourceName : 50258
OpenDate : 48160
CloseDate : 47940

Id is unique and Title has the least number of duplicates. We try removing the Id and search for duplicates.

In [20]:
df[df.duplicated(subset= ['Title', 'Company', 'Location'])]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
133,69249874,Staff Nurse BexhillonSea,Bexhill-On-Sea,full-time,non-specified,Professional Social Care Solutions,Healthcare & Nursing Jobs,25500.0,staffnurse.com,20130220T150000,20130322T150000
166,69250133,"Support Care Workers, Luton Bedford (Evenings ...",UK,non-specified,contract,Diamond Resourcing,Healthcare & Nursing Jobs,17280.0,cv-library.co.uk,20130525T120000,20130724T120000
1084,69541267,TRAINEE IT MANAGER SYSTEMS ADMIN ****k,Cliddesden,non-specified,permanent,Circle Recruitment,IT Jobs,32496.0,jobserve.com,20120206T000000,20120406T000000
1218,69545085,"Assistant Manager ST ANDREWS, FIFE Restaurant ...",Fife,non-specified,non-specified,Addison Fowle Ltd,Hospitality & Catering Jobs,18996.0,caterer.com,20121203T000000,20121217T000000
1528,69559108,Year **** Class Teacher Urgently Required for ...,West End,non-specified,contract,Academics Ltd,Teaching Jobs,32400.0,cv-library.co.uk,20121009T150000,20121208T150000
1671,69570901,German Speaker,Brighton,non-specified,contract,Page Personnel Finance,Accounting & Finance Jobs,8640.0,totaljobs.com,20131130T000000,20131230T000000
2071,69593348,ConsultantLondon Markets Insurance,Central London,non-specified,permanent,Xceed,IT Jobs,50004.0,jobserve.com,20130818T150000,20130917T150000
2143,69596435,Maintenance Engineer Electrical,Leeds,non-specified,permanent,Clare Moore,Engineering Jobs,30744.0,jobsite.co.uk,20131030T150000,20140128T150000
2378,69614996,Clinical Nurse Trainer Renal Dialysis/ITU,North West London,non-specified,permanent,Kirkham Young Ltd,Healthcare & Nursing Jobs,38004.0,cv-library.co.uk,20130213T150000,20130315T150000
2512,69621828,Assistant Manager Carluccio's Aberdeen New ...,Aberdeen,non-specified,non-specified,Carluccio's,Hospitality & Catering Jobs,24996.0,caterer.com,20130928T000000,20131028T000000
2633,69638838,Eon Venue & Events Sales Consultant,Blackburn,non-specified,permanent,Adecco Group,Sales Jobs,22752.0,totaljobs.com,20120813T000000,20120912T000000
2674,69640929,French and German Speaking Credit Controller,UK,non-specified,contract,Exibio Financial Recruitment,Accounting & Finance Jobs,21000.0,totaljobs.com,20120103T000000,20120117T000000
3062,69674149,Staff Nurse specialist care Southampton,Southampton,full-time,non-specified,Green Care Management,Healthcare & Nursing Jobs,28752.0,staffnurse.com,20130118T150000,20130418T150000
3190,69685781,Mechanical Engineer / Project Coordinator,Rugby,non-specified,permanent,Premiere People,Engineering Jobs,38748.0,cv-library.co.uk,20130909T000000,20131208T000000
3258,69687111,New Senior Software Developer (C / ASPNET) Nee...,Reading,non-specified,permanent,Timothy James Consulting,IT Jobs,46500.0,totaljobs.com,20130406T150000,20130506T150000
3729,69743315,NET Web Developer ASPNET / VBNET,Birmingham,non-specified,permanent,Matchtech Group Plc,IT Jobs,35004.0,jobsite.co.uk,20130413T150000,20130612T150000
4481,69816417,Senior Account Manager Print Design,Northampton,non-specified,permanent,Avatar Recruitment Consultancy Ltd,"PR, Advertising & Marketing Jobs",30000.0,cv-library.co.uk,20120615T000000,20120715T000000
4578,69828140,"Junior MS Dynamics GP software consultant , Lo...",London,non-specified,permanent,Nigel Frank International Ltd,IT Jobs,30996.0,jobsite.co.uk,20130513T150000,20130811T150000
4739,69865809,UNIX Analyst,Hampshire,non-specified,permanent,Sanderson Government & Defence,IT Jobs,45000.0,jobserve.com,20120226T120000,20120327T120000
4942,69896092,Area Coordinator,Newbury,part-time,non-specified,A R Resourcing Ltd,Sales Jobs,15000.0,cv-library.co.uk,20131026T000000,20131109T000000
5020,69931074,"Senior Business Objects Consultant, London, BO...",South East London,non-specified,permanent,Salt,IT Jobs,68496.0,totaljobs.com,20131202T120000,20140131T120000
5165,69933462,Part Qualified Accountant Altrincham,UK,non-specified,permanent,Network Professional Recruitment,Accounting & Finance Jobs,21996.0,totaljobs.com,20120727T150000,20120925T150000
5476,69974894,Lead SAS Analyst,Swindon,non-specified,permanent,Stellar Select Ltd,Accounting & Finance Jobs,37704.0,totaljobs.com,20120207T120000,20120308T120000
5494,69976399,Product Manager Hips (commutable to Bridgend),Wales,non-specified,non-specified,Advance Recruitment,Sales Jobs,54996.0,salestarget.co.uk,20130126T150000,20130225T150000
5897,69997619,"Web Development Manager (NET), to ****K",South East London,non-specified,permanent,Progression Recruitment,IT Jobs,80004.0,cwjobs.co.uk,20120518T120000,20120816T120000
6463,70140804,Area Account Manager,UK,non-specified,permanent,On Target Recruitment Ltd,Sales Jobs,29004.0,cv-library.co.uk,20120502T150000,20120601T150000
6863,70211862,Senior Bank Assistant,Oxford,non-specified,permanent,M & S Bank,Accounting & Finance Jobs,23580.0,totaljobs.com,20130312T000000,20130511T000000
7387,70255191,IT Analyst,Cambridge,non-specified,contract,Interaction Finance,IT Jobs,17280.0,cv-library.co.uk,20121228T000000,20130226T000000
7408,70255629,Wider Market Account Executive Insurance,Uckfield,non-specified,permanent,Office Angels,Accounting & Finance Jobs,27504.0,cv-library.co.uk,20131130T000000,20131230T000000
8146,70447666,Account Manager/Business Closer,Peterborough,full-time,permanent,The One Group,Accounting & Finance Jobs,23496.0,strike-jobs.co.uk,20120511T150000,20120610T150000
...,...,...,...,...,...,...,...,...,...,...,...
17190,71749988,Collections Manager / Customer Account Manager,Stockport,non-specified,permanent,Randstad Retail,Accounting & Finance Jobs,18504.0,cv-library.co.uk,20120511T000000,20120610T000000
17633,71774964,Restaurant Manager Fresh Food Restaurant Oxford,Oxford,non-specified,non-specified,Regent Recruitment,Hospitality & Catering Jobs,26496.0,caterer.com,20120316T000000,20120330T000000
17728,71801881,Sales Manager / Area Sales Manager,Manchester,non-specified,permanent,Dexter Nicholas Ltd,Sales Jobs,35004.0,cv-library.co.uk,20120729T120000,20121027T120000
17806,71805087,Internal Sales Trainee,Marlow,non-specified,permanent,Aston Wade,Sales Jobs,17004.0,totaljobs.com,20120131T120000,20120430T120000
18010,71821134,SITS Student Systems Developer Higher Educatio...,London,non-specified,permanent,Real,Teaching Jobs,37500.0,cv-library.co.uk,20121102T150000,20130131T150000
18147,71844022,Junior C Developer Banking,London,non-specified,permanent,Optima Connections,IT Jobs,30000.0,cv-library.co.uk,20130607T000000,20130806T000000
18201,71845523,LAMP PHP Developer,UK,non-specified,permanent,Yolk Recruitment,IT Jobs,26496.0,totaljobs.com,20121001T000000,20121031T000000
18748,71856629,Microsoft PreSales Solutions Architect Windows...,UK,non-specified,permanent,Stott & May,IT Jobs,47496.0,cwjobs.co.uk,20130429T120000,20130529T120000
18885,71869346,"Site Managers/Agents, Civil,Mechanical or Elec...",Stoke-On-Trent,non-specified,permanent,Rullion Build,Engineering Jobs,36000.0,totaljobs.com,20131209T000000,20140207T000000
19015,71878731,Eco Investment Broker Cape Town,UK,non-specified,permanent,Generation Resourcing Ltd,Accounting & Finance Jobs,52500.0,totaljobs.com,20120816T000000,20120915T000000
19106,71883756,Sales Exec / Spanish or Swedish speakers (Soft...,Reading,non-specified,permanent,Scott Cofton Associates,Sales Jobs,33996.0,totaljobs.com,20130427T120000,20130726T120000
19320,71907207,Vocational Coach Hospitality,Oxfordshire,non-specified,permanent,Fusion People Ltd,Teaching Jobs,19392.0,cv-library.co.uk,20120422T150000,20120621T150000
19334,71911500,Manufacturing Engineer (Heavy Engineering),Droitwich,non-specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,35004.0,totaljobs.com,20120904T120000,20121004T120000
19452,71959653,"Scientist, Chemistry 6 Month Contract Cambridge",Cambridgeshire,full-time,contract,Additional Resources,Engineering Jobs,29496.0,thecareerengineer.com,20120929T000000,20121128T000000
19671,72117284,HEAD CHEF PREMIUM BRANDED RESTAURANT,Exeter,non-specified,non-specified,Detail 2 Leisure,Hospitality & Catering Jobs,24996.0,jobs.catererandhotelkeeper.com,20120508T120000,20120607T120000
19875,72127236,"IT Applications Supplier Manager, Vendor Manager",Hampshire,non-specified,permanent,Sanderson,IT Jobs,52500.0,cwjobs.co.uk,20120201T000000,20120302T000000
19938,72127656,Sales Engineer Pneumatics,London,non-specified,permanent,On Target Recruitment Ltd,Sales Jobs,32496.0,cv-library.co.uk,20131211T120000,20140311T120000
20053,72128412,Chefs Required Immediate Start Heathrow Area ****,London,non-specified,non-specified,Hamilton Mayday,Hospitality & Catering Jobs,21504.0,jobs.catererandhotelkeeper.com,20130719T150000,20130802T150000
20105,72128669,FPGA Engineer Gloucestershire,Gloucester,non-specified,permanent,Redline Group Ltd,Engineering Jobs,27504.0,totaljobs.com,20121004T120000,20121103T120000
21438,72248745,OO Perl Developer New Start up London ****k,South East London,non-specified,permanent,Computer People,IT Jobs,30000.0,totaljobs.com,20121225T120000,20130124T120000
21465,72249246,Demi Chef de Partie High Quality Brasserie Di...,Buckinghamshire,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,15996.0,jobs.catererandhotelkeeper.com,20121012T120000,20121211T120000
21579,72325981,Demi Chef de Partie Luxury country House Hote...,Northamptonshire,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,14748.0,caterer.com,20121031T000000,20121114T000000
21742,72344120,Community Care Staff,Taunton,part-time,non-specified,Way Ahead Care,Healthcare & Nursing Jobs,9480.0,careerbuilder.com,20130328T150000,20130411T150000
21873,72373010,Sales Engineer Instrumentation,Oldham,non-specified,permanent,White Recruitment Ltd,Sales Jobs,27504.0,cv-library.co.uk,20121212T000000,20130111T000000
22033,72394613,"C / ASPNET Developer,Manchester, **** ****",Manchester,non-specified,non-specified,Computer Futures,IT Jobs,30000.0,gojobsearch.co.uk,20121211T000000,20130209T000000
22253,72406257,"Software Developer C, ASPNet Permanent Glas...",South Lanarkshire,full-time,permanent,Abrecco,IT Jobs,33504.0,planetrecruit.com,20131112T150000,20131212T150000
22308,72428167,Healthcare Assistants Care & Nursing Homes C...,Cannock,non-specified,contract,Acton Banks,Healthcare & Nursing Jobs,13620.0,totaljobs.com,20130807T120000,20131006T120000
22667,72441982,Account Manager South,South East London,non-specified,non-specified,Easyvacancy.co.uk,Sales Jobs,50004.0,salestarget.co.uk,20120306T150000,20120320T150000
23062,72446581,Electrical / Mechanical Engineer,Poole,non-specified,permanent,Indigo 21 Ltd,Engineering Jobs,30000.0,cv-library.co.uk,20120901T000000,20121130T000000
23546,72459205,Senior Brokers London ********K Basic ****K...,South East London,non-specified,non-specified,Zest 2 Recruitment,Sales Jobs,18996.0,salestarget.co.uk,20120407T150000,20120606T150000

In [21]:
# dropping the duplicates while keeping the first occurrance
df.drop_duplicates(subset= ['Title', 'Company', 'Location'], keep='first', inplace = True)

Starting with all attributes except the Id, and eliminating one by one if there is no change in the number of duplicates detected, we could reduce untill the subset becomes only ['Title', 'Company', 'Location']. 

So this is the global key for our datasets for finding the duplicates. Adding any other attributes along with this makes no change, how ever dropping any of ['Title', 'Company', 'Location'] in the duplicated() function makes it find more duplicates.

Also please note that some uniqueness of each of this variables are caused by the clean up we have done in the previous task. An analysis shows if we use the dataset df1 with error for finding the duplicates, our global key can be reduces to only the 'Title' and we will get 200 duplicates.

## 5. Storing Data in File

Now we store the combined data to the csv file

In [23]:
# storing data into file
df.to_csv("dataset1_dataset2_solution.csv", encoding = 'utf-8', index=False)

## 6. Summary

In this task we combined the data we cleaned up earlier with the extra data given. 

As a first step we checked schema conflicts. We used semantic methods for mapping columns and finding errors. We corrected the errors one by one.

In the second part, we tested for duplicate rows and find out a global key for the data to find the duplicates.

## References

- Pandas (2018). 'Pandas documentation'. Retrieved from https://pandas.pydata.org