# FIT5196 Assessment 2 Task 1
#### Student Name: Vipul Krishnan Muralee Dharan
#### Student ID: 28104641

Date: 11/05/2018

Version: 1.0

Environment: Python 3.6.1 and Anaconda 4.3.21 (64-bit)

Libraries used:
* pandas v0.20.1 (for dataframe operations)
* re v2.2.1(regular ecpression operations)
* fuzzywuzzy v0.16.0 (for string comparison)
* string (comes with python) (for obtaining all character list)


## 1. Introduction
In this task, we are required to inspect and audit the data (dataset1_with_error.csv) to identify the data problems, and then fix the problems. 

In the end, save the error-free dataset in dataset1_solution.csv. The number of records in your solution should be the same as the number of those in the input file.

## 2. Installing and Importing Libraries

We need the fuzzywuzzy library for this task. We use it in various places for string comparison. Fuzzywuzzy uses another library 'python-Levenshtein' for speeding up its processes (SeatGeek, 2018). If these libraries are not istalled, please install them using the below code and then import all libraries.

In [1]:
# installing libraries
!pip install python-Levenshtein
!pip install fuzzywuzzy

Requirement already satisfied: python-Levenshtein in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from python-Levenshtein)

You are using pip version 9.0.2, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: fuzzywuzzy in c:\programdata\anaconda3\lib\site-packages

You are using pip version 9.0.2, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import re
from fuzzywuzzy import fuzz
import string

## 3. Loading and Examining Data
The first step is to load the data from the CSV file.

In [3]:
# loading the data as pandas dataframe
df1 = pd.read_csv("dataset1_with_error.csv")

# checking first 5 rows to see the structure of the data
df1.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000

Now we perform basic analysis on the data to find out its characteristics. We can use df.info(), df.describe() methods for this.

In [4]:
# displays the information about the dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21242 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null object
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(1), object(10)
memory usage: 2.1+ MB

In [5]:
df1.describe()

                 Id
count  2.507700e+04
mean   6.664312e+07
std    5.195261e+06
min    1.261263e+07
25%    6.720830e+07
50%    6.836110e+07
75%    6.871371e+07
max    6.924767e+07

The above function describes the newmerical values only. For getting objects, we use it as below.

In [6]:
df1.describe(include=['O'])

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,25077,25077,25077,25077,21242,25077,25077,25077,25077,25077
unique,25077,482,3,3,4879,8,1589,90,2203,2400
top,Graduate Technical Support Analyst Luton,UK,not available,permanent,UKStaffsearch,IT Jobs,35004,totaljobs.com,20130127T150000,20130526T120000
freq,1,3996,19499,16194,248,7085,1011,5335,27,23

We can understand that the 'Title' field is a unique identifier. Category, ContractTime, ContractType has only a limited number of possible values. Other columns have a large number of unique values

Although the task dont ask for checking the missing values, a knowledge of them would help us.

In [7]:
df1.isnull().sum()

Id                     0
Title                  0
Location               0
ContractType           0
ContractTime           0
Company             3835
Category               0
Salary per annum       0
SourceName             0
OpenDate               0
CloseDate              0
dtype: int64

We can see that there are some missing values in the Companu column

##  4. Auditing the Data and Fixing the Problems

Now we can start looking for issues in the data. We can perform a column by column analysis for identifying the problems. We start with the column: 'Id'

### 4a. Column : Id

The Id should be 8 digit and should be unique. This is evident from the data obtained from the describe function. (For referece, it is shown again below.) The maximum value is 6.924767e+07 and the minimum value is 6.924767e+07, which means there are 8 digits in all the Ids.

In [8]:
# running the describe function again for reference
df1.describe()

                 Id
count  2.507700e+04
mean   6.664312e+07
std    5.195261e+06
min    1.261263e+07
25%    6.720830e+07
50%    6.836110e+07
75%    6.871371e+07
max    6.924767e+07

In [9]:
# total number of unique Ids
len(df1.Id.unique())

25077

As shown above, the number of unique values for the Id is equal to the number of rows, which means each vaue is unique.

### 4b. Column: Title

As we seen before each value in the Title column are different. It is the title of the advertised job position. We can check some of the titles.

In [10]:
# to see some of the titles
df1.Title

0                              Engineering Systems Analyst
1                                  Stress Engineer Glasgow
2                         Modelling and simulation analyst
3        Engineering Systems Analyst / Mathematical Mod...
4               Pioneer, Miser Engineering Systems Analyst
5                  Trainee Mortgage Advisor  East Midlands
6                         PROJECT ENGINEER, PHARMACEUTICAL
7        Chef de Partie  Award Winning Restaurant  Exce...
8                                         Quality Engineer
9        Chef de Partie  Award Winning Dining  Live In ...
10            Senior Fatigue and Damage Tolerance Engineer
11                                     C I Design Engineer
12                                 Lead Engineers (Stress)
13         Relief Chef de Partie  Croydon, Surrey  Live in
14             Senior Control and Instrumentation Engineer
15                    Control and Instrumentation Engineer
16                               Electrical / ICA Engineer
17       Pastry Chef for **** red star **** rosette hot...
18       CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...
19       Senior Sous Chef for **** rosette kitchen, up ...
20       General Manager  Funky, Cool Restaurant Concep...
21                        MICE Sales and Marketing Manager
22                                         C/C++ Developer
23                                    Senior PHP Developer
24                                 Senior Website Designer
25                            Business Development Manager
26       Welwyn Chef de Partie does it get any better t...
27            Pastry Chef AL**** ****AA Rosette Restaurant
28                                             QA Engineer
29                                  Documentation Engineer
                               ...
25047                             Validation Engineer: IOT
25048                       RF Design and Customer Support
25049            Technical Sales Engineer  Deburring tools
25050                               Senior Internal Audior
25051    Business Development, P/T F/T, Flexible hours,...
25052                           Account Manager (No Sales)
25053                     Design and Applications Engineer
25054    Part Time/Full Time Business Development Work ...
25055         Financial Controller  temporary to permanent
25056    ICT Trainer (Vocational Training / IT Assessor...
25057                       Education and Training Manager
25058                                     Storage Engineer
25059                             Principle Java Developer
25060                                Analytical Consultant
25061            System Administrator Windows Exchange SQL
25062           Junior Drainage Engineer PDS Microdrainage
25063                         Head of Research Development
25064          Performance Test Consultant  SoapUI, LoadUI
25065         Rational Performance Tester  Test Consultant
25066    Fibre Laser Physicists / Engineers (Graduate t...
25067                        PCV Technician / Bus Mechanic
25068                               Relationship Executive
25069                            Cosmetic Regional Manager
25070                        Retail Bank Modelling Manager
25071    Business Analyst, Retail Ecommerce, Reading, B...
25072                    Mobile Developer (iOS or Android)
25073                                Tax Assistant Manager
25074              Newly Qualified Assistant Manager Role
25075                  Corporate Tax Senior Manager  Leeds
25076           Professional Services Financial Accountant
Name: Title, Length: 25077, dtype: object

An analysis shows that the title contains various things such as the actual job position, salary, location etc. It is clear that this is the title of the advertisement.

There are many possible cleanups. For example we can remove the salary specifications, locations etc. from this attribute. 

But it is the decision of the advertising person that what she/he should name it. It reflects a lot of things. For example is the person want to emphasize the salary of the position, she/he puts it on the title. Any other important info can also be added along with the title. For data analytics, these indirect informations can be useful. When we remove these, we are losing these important information. 

So, we can keep this field as entered by the advertiser. However there are some possible issues such as presence of non-ascii characters. We should remove these.

First we look for the non-ascii characters.

In [11]:
# function to look for the non-ascii characters
def test(x):
    # splits into words
    xarray = x.split()
    
    for x1 in xarray:
        # checks non ascii on ach word and prints if it is
        if len(x1) != len(x1.encode()):
            print(x + ' WITH WORD ' + x1)
    return False
# redirecting the output to a dummy variable, we dont want to display
dummy = df1.Title.apply(lambda x: test(x))

Quality Manager – Nursing Homes Scotland ****K WITH WORD –
Support Worker – Domiciliary Care WITH WORD –
Bank Support Worker – Domiciliary Care WITH WORD –
**** **** depending on experience – **** hours flexible shifts required Boston Lincs WITH WORD –
IT Administrator €“ Customer Support, Network and Disaster Recovery A WITH WORD €“
Assistant Manager – Traditional Fish & Chip Shop – Central London WITH WORD –
Assistant Manager – Traditional Fish & Chip Shop – Central London WITH WORD –
Site Technical Manager – Meat Processing WITH WORD –
Chef de Partie – Suffolk  ****AA Rosettes – **** Live In WITH WORD –
Chef de Partie – Suffolk  ****AA Rosettes – **** Live In WITH WORD –
Night Shift Production Manager – Northamptonshire  **** WITH WORD –
Product Technologist – Northamptonshire – **** WITH WORD –
Product Technologist – Northamptonshire – **** WITH WORD –
Shift Manager – Northamptonshire  **** WITH WORD –
QA Manager – Northamptonshire  ****  CRJE****/**** WITH WORD –
Packaging Manager – Northamptonshire  **** WITH WORD –
Technical Consultant | Developer – XML, SQL, NET (C) WITH WORD –
Alternative Investment Specialist – London  ****K Basic  ****K OTE WITH WORD –
Recruitment Research Consultant –Financial Service WITH WORD –Financial
JUNIOR SOUS – **** AA ROSETTE – MODERN EUROPEAN CUISINE  LIVE IN OPTION WITH WORD –
JUNIOR SOUS – **** AA ROSETTE – MODERN EUROPEAN CUISINE  LIVE IN OPTION WITH WORD –
BREAKFAST CHEF REQUIRED **** HOTEL – SALARY **** WITH WORD –
Junior Delphi Developer – Music & Entertainment Industry  London WITH WORD –
Delphi Developer ****k  ****k – Music & Entertainment Industry  London WITH WORD –
IT Systems Administration – VMware and Windows WITH WORD –
Avaya Network Engineer (Unified Communications, Avaya) – London WITH WORD –
CCIE Technical Consultant / Project Engineer – Luton, Bedfordshire WITH WORD –
Account Manager  Oxfordshire – **** **** – Ref **** WITH WORD –
Account Manager  Oxfordshire – **** **** – Ref **** WITH WORD –
Maintenance Electrician 17th Ed – Birmingham WITH WORD –
Chef de Partie  Cheshire – ****AA Rosette WITH WORD –
Appliance Engineer – White Goods WITH WORD –
VP – Tax Risk WITH WORD –
Service Engineer – High Pressure Systems WITH WORD –
Engineering Manager – Cumbria – CRTB**** WITH WORD –
Engineering Manager – Cumbria – CRTB**** WITH WORD –
C / ASPnet Developer – Bolton WITH WORD –
Service Improvement Analyst – MARKETING WITH WORD –
Chef de Partie – Pastry WITH WORD –
Quality / H&S Manager – NEBOSH, IOSH WITH WORD –
Installation Engineers – North London / East London / Essex / Hertford WITH WORD –
Grad PR Consultant Oxfordshire – up to **** dependant on level  Initial **** month FTC  Ref: **** WITH WORD –
Chef de Partie – Amazing Destination Restaurant – East Sussex WITH WORD –
Chef de Partie – Amazing Destination Restaurant – East Sussex WITH WORD –
Business Development Manager – IT & Telecommunications (OTE ****) WITH WORD –
GENERAL MANAGER – PITCHER & PIANO  BRISTOL WITH WORD –
Category Manager – Indirect WITH WORD –
Experienced Carers – Urgently required WITH WORD –
Front End Web Developer – (HTML, CSS, Javascript) WITH WORD –
Net Developer – VBnet/ASPnet/MVC/C WITH WORD –
General Manager – Stylish Brasserie – NEW OPENING London WITH WORD –
General Manager – Stylish Brasserie – NEW OPENING London WITH WORD –
Assistant General Manager – Chic Stylish Fresh Food  Windsor WITH WORD –
Assistant General Manager – Stylish Brasserie  Berkshire WITH WORD –
Senior Chef de Partie – Lancashire  **** AA Rosette  Live In WITH WORD –
CHEF DE PARTIE – **** AA ROSETTES – 4 DAYS PER WEEK  **** WITH WORD –
CHEF DE PARTIE – **** AA ROSETTES – 4 DAYS PER WEEK  **** WITH WORD –
Business Analyst – Insurance – London WITH WORD –
Business Analyst – Insurance – London WITH WORD –
Contract Analyst Programmer / Developer – OO, C, aspnet, SQL, XML WITH WORD –
Band 5/**** Community Psychiatric Nurse – East Suffolk  Ipswich WITH WORD –
Band 5 Community Mental Health Nurse – Manchester  Manchester WITH WORD –
Graduate Trainee Recruitment Consultant – London  Uncapped Commission WITH WORD –
Graduate Trainee Recruitment Consultants Wanted – AwardWinning Recruitment Company WITH WORD –
Bids Assistant – Architectural Firm WITH WORD –
Nurse : Staff Nurse – Outpatients & Pre assessment WITH WORD –
INFRASTRUCTURE SUPPORT – OPERATIONS – CLOUD, SCRIPTING WITH WORD –
INFRASTRUCTURE SUPPORT – OPERATIONS – CLOUD, SCRIPTING WITH WORD –
Linux Administrator / DevOps – Leading Mobile Applicions company WITH WORD –
Application Developer – C / NET / ASPNET WITH WORD –
Senior Application Developer – C / NET / ASPNET WITH WORD –
Database Developer – BI / SSIS / SSRS / SSAS WITH WORD –
Java Developer – J****EE WITH WORD –
Room Leader Position – Baby Room WITH WORD –
Assistant Manager – Chic Stylish Fresh Food Kent WITH WORD –
Assistant Manager – Stylish Brasserie  Brighton WITH WORD –
Assistant Manager – Stylish Brasserie  London WITH WORD –
CATERING MANAGER: Falkirk, Scotland – circa **** WITH WORD –
TEMPORARY RESERVATIONIST – LONDON  GREAT OPPORTUNITY WITH WORD –
COMPLIANCE ADVISORY – 12 MTH CONTRACT – REGULATORY ADVISORY EXPERIENCE REQ’D WITH WORD –
COMPLIANCE ADVISORY – 12 MTH CONTRACT – REGULATORY ADVISORY EXPERIENCE REQ’D WITH WORD –
COMPLIANCE ADVISORY – 12 MTH CONTRACT – REGULATORY ADVISORY EXPERIENCE REQ’D WITH WORD REQ’D
PERM OR TEMP COMPLIANCE MANAGER – STRONG AML PRIVATE BANKING EXPERIENCE REQ’D WITH WORD –
PERM OR TEMP COMPLIANCE MANAGER – STRONG AML PRIVATE BANKING EXPERIENCE REQ’D WITH WORD REQ’D
Nurse : RGN – Sexual Health, Family Planning WITH WORD –
Sales Executive – Promotions Industry WITH WORD –
Integration Architect – (WebSphere, Oracle, SAP PI) WITH WORD –
MOD GP Locum – Berkshire WITH WORD –
Graduate Trainee Recruitment Consultants Wanted – Sunday Times Fast Track **** Company WITH WORD –
Senior Nurse/ Nurse Manager – RMN/ RNLD  Guildford WITH WORD –
Sales Executive – UK Wide  ESP **** WITH WORD –
Product Development Manager – Language Services Solutions WITH WORD –
Service Engineer – Field Engineer  Autoclaves WITH WORD –
Tendering Engineer – Technical, regulatory, standards & compliance WITH WORD –
Welding Engineer – Pressure Vessels and Piping WITH WORD –
Chef De Partie – Babington House  Somerset WITH WORD –
Audit Manager – media & property WITH WORD –
Field Sales Engineer – Southern/Central Scotland WITH WORD –
Lead Account Manager – Consumer PR, Central London WITH WORD –
Lead Electrical Engineer – Lancashire – **** WITH WORD –
Lead Electrical Engineer – Lancashire – **** WITH WORD –
Estimator – Scaffolding – London WITH WORD –
Estimator – Scaffolding – London WITH WORD –
Contracts Manager – Scaffolding – Midlands WITH WORD –
Contracts Manager – Scaffolding – Midlands WITH WORD –
Business Development Manager – Scaffolding – North West WITH WORD –
Business Development Manager – Scaffolding – North West WITH WORD –
Machinery build fitters – Bespoke marine propulsion units Circa **** WITH WORD –
Account Manager – Manufacturing/Engineering WITH WORD –
Chef de Partie – Fantastic Fresh Food Opportunity  ****  ****K  Kent WITH WORD –
Deputy General Manager  Hotel  ****k – South Coast WITH WORD –
Assistant Manager – Gastro Pub  ****K  Essex WITH WORD –
General Manager – ****k – High Volume Branded Operator  London WITH WORD –
General Manager – ****k – High Volume Branded Operator  London WITH WORD –
Assistant Manager – Gastro Pub  ****K  Chester WITH WORD –
Pastry Chef de Partie – Berkshire – ****AA Rosettes – Live In WITH WORD –
Pastry Chef de Partie – Berkshire – ****AA Rosettes – Live In WITH WORD –
Pastry Chef de Partie – Berkshire – ****AA Rosettes – Live In WITH WORD –
Pastry Sous Chef – Michelin Restaurant – London – **** WITH WORD –
Pastry Sous Chef – Michelin Restaurant – London – **** WITH WORD –
Pastry Sous Chef – Michelin Restaurant – London – **** WITH WORD –
Sous Chef – London – Up to **** WITH WORD –
Sous Chef – London – Up to **** WITH WORD –
Head Chef – up to **** – North London WITH WORD –
Head Chef – up to **** – North London WITH WORD –
Sales Manager – Growing family run Restaurant Group WITH WORD –
Pastry Chef – West Sussex  ****AA Rosette WITH WORD –
General Manager  Stylish, Fresh Food Restaurant  Chester – Up to ****K WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Surrey WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Surrey WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Surrey WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Reading WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Reading WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Reading WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Chester WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Chester WITH WORD –
Sous Chef – Growing Gastro Company – Fresh Food  ****k – Chester WITH WORD –
Commis Chef – New Restaurant  Michelin Star  London WITH WORD –
Commis Chef – West End Monday to Friday London ****  **** WITH WORD –
General Manager – New Concept Brew Pub and Restaurant WITH WORD –
Pastry Chef – 1 Michelin Star Restaurant – London – Sundays Off  ****k WITH WORD –
Pastry Chef – 1 Michelin Star Restaurant – London – Sundays Off  ****k WITH WORD –
Pastry Chef – 1 Michelin Star Restaurant – London – Sundays Off  ****k WITH WORD –
Breakfast Chef – New Opening Restaurant – London  **** WITH WORD –
Breakfast Chef – New Opening Restaurant – London  **** WITH WORD –
Pastry Chef – Wiltshire – ****AA Rosettes – ****K WITH WORD –
Pastry Chef – Wiltshire – ****AA Rosettes – ****K WITH WORD –
Pastry Chef – Wiltshire – ****AA Rosettes – ****K WITH WORD –
Insight Executive – Top Retail Client – Hampshire Coast WITH WORD –
Insight Executive – Top Retail Client – Hampshire Coast WITH WORD –
Sales / Customer Service Advisor– German Speaking WITH WORD Advisor–
Sales Manager  Amsterdam  €**** euro p/a  benefits WITH WORD €****
Principal Consultant – PERM WITH WORD –
Community IV Therapy and Oncology Nurses – Great Benefits  Manchester WITH WORD –
Substance Misuse Nurse – Greater Manchester  Manchester WITH WORD –
Software Deployment Consultant – worldwide travel, Edinburgh WITH WORD –
BREAK INTO COMPLIANCE – LAW GRADUATES WITH SOME WORK EXP REQ’D WITH WORD –
BREAK INTO COMPLIANCE – LAW GRADUATES WITH SOME WORK EXP REQ’D WITH WORD REQ’D
PART TIME COMPLIANCE OFFICER – SECURITIES TRADING EXPERIENCE REQUIRED WITH WORD –
COMPLIANCE EXECUTIVE – WHOLESALE EXPERIENCE REQUIRED WITH WORD –
Compliance Assistant – Lloyds Insurance WITH WORD –
Chef de Partie – Packhorse, food led pub WITH WORD –
Assistant Head Pastry Chef – Luxury **** Hotel – London  **** WITH WORD –
Assistant Head Pastry Chef – Luxury **** Hotel – London  **** WITH WORD –
Sous Chef – Fine dining Restaurant – London – **** WITH WORD –
Sous Chef – Fine dining Restaurant – London – **** WITH WORD –
Sous Chef – Fine dining Restaurant – London – **** WITH WORD –
Assistant General Manager–High End Restaurant & Bar – Leeds  ****K WITH WORD Manager–High
Assistant General Manager–High End Restaurant & Bar – Leeds  ****K WITH WORD –
General Manager  Popular Stylish Concept – Lancaster  ****K  ****K WITH WORD –
Chef De Partie – **** Rosette Oxford Oxfordshire ****  ****  Tips WITH WORD –
Pastry Chef de Partie – 1 Michelin Star Restaurant WITH WORD –
Senior Chef de Partie – Classic French  ****K to ****K WITH WORD –
Head Chef – 5Star Hotel  W**** London ****K WITH WORD –
Revenue Manager – Hotel – ****k plus bonus WITH WORD –
Revenue Manager – Hotel – ****k plus bonus WITH WORD –
Head Chef – Blackpool – ****k  Bonus Scheme WITH WORD –
Head Chef – Blackpool – ****k  Bonus Scheme WITH WORD –
Senior Sous Chef – Gastro Aiming for Michelin – MF ****k WITH WORD –
Senior Sous Chef – Gastro Aiming for Michelin – MF ****k WITH WORD –
SENIOR PROCUREMENT – STAFF POSITION – LONDON WITH WORD –
SENIOR PROCUREMENT – STAFF POSITION – LONDON WITH WORD –
SENIOR VENDOR QUALITY MANAGEMENT – STAFF POSITION – LONDON WITH WORD –
SENIOR VENDOR QUALITY MANAGEMENT – STAFF POSITION – LONDON WITH WORD –
Sales Team Manager – Solid Surfaces WITH WORD –
Senior Internal Auditor – FTSE 100 – Central London  Spanish WITH WORD –
Senior Internal Auditor – FTSE 100 – Central London  Spanish WITH WORD –
Outbound Sales Executive – B2B WITH WORD –
Live – In Care Workers Required Urgently WITH WORD –
Senior Brokers / Closers Required for REM's Floor – London EC1M  ****k Basic  ****K OTE WITH WORD –
Senior Alternative Invester – London  ********K Basic  ****K OTE WITH WORD –
New Business Manager – Big OTE WITH WORD –
International Sales Executive – B2B Media WITH WORD –
Sales Manager – Award Winning Exhibition WITH WORD –
Business Development Manager – Transformers and Resistors WITH WORD –
Supervising Social Worker – Fostering Team, Coventry,********pa WITH WORD –
Account Manager – Corporate Learning & Development WITH WORD –
Field Service Engineer’s WITH WORD Engineer’s
Maintenance Engineers – Contract work WITH WORD –
Business Development Manager – Office Fit Out – London / South WITH WORD –
Business Development Manager – Office Fit Out – London / South WITH WORD –
Graduate Account Manager – Field based  Surrey WITH WORD –
Graduate Account Manager – Legal  Central London WITH WORD –
Recruitment Consultant – Optical WITH WORD –
Graduate Trainee Recruitment Consultant – International Clients WITH WORD –
Skills Tutors – Numeracy, Literacy and ICT WITH WORD –
QA Engineer  Madrid  €****K WITH WORD €****K
Sales Executive – Talent Management / Software / SaaS – London WITH WORD –
Sales Executive – Talent Management / Software / SaaS – London WITH WORD –
POS/POP, Business Development Manager, ****k – ****k  Uncapped OTE  Car WITH WORD –
Sales  Technical Director – Water Treatment WITH WORD –
Recruitment Team Manager – Technical Perms – London WITH WORD –
Recruitment Team Manager – Technical Perms – London WITH WORD –
Recruitment Team Manager – Finance – London WITH WORD –
Recruitment Team Manager – Finance – London WITH WORD –
Area Sales Manager – Tile Fixing & Flooring (Construction) BLUA**** WITH WORD –
Night Support Worker – Learning Disabilities/Care WITH WORD –
Business Relationship Manager, – UK, N Eng/Midlands **** – Asset Finance WITH WORD –
Business Relationship Manager, – UK, N Eng/Midlands **** – Asset Finance WITH WORD –
Product Manager – Shorthaul WITH WORD –
Merchandising Executive – Benelux WITH WORD –
Head of Account Management – Northern Europe WITH WORD –
Senior Risk Analyst – SAS or SQL WITH WORD –
Account Manager – fluent in French, Japanese or Mandarin WITH WORD –
C, Cloud Computing, BI Stack, Developer – Buckinghamshire/London WITH WORD –
Senior Technical Consultant – Financial Software House WITH WORD –
SEO Content Executive – Leading Travel Provider WITH WORD –
Independent Financial Adviser – Bournemouth WITH WORD –
Audit Senior – Top 20 WITH WORD –
Accounts Senior – Top 20 firm WITH WORD –
Parttime Practice Nurse Vacancy – Blackpool WITH WORD –
IT AUDIT AND INTERNAL AUDIT ROLES – LONDON WITH WORD –
Head Chef – British Cuisine  South West London WITH WORD –
INVESTMENT BANKING REGULATORY LIAISON MANAGER – FSA REGULATORY EXPERIENCE REQUIRED WITH WORD –
COMPLIANCE ANALYST – FINANCIAL PROMOTIONS EXPERIENCE REQUIRED WITH WORD –
3 MONTH CONTRACT – GENERAL INSURANCE COMPLIANCE EXPERIENCE REQUIRED WITH WORD –
Senior Consultant – Credit Risk – London WITH WORD –
Senior Consultant – Credit Risk – London WITH WORD –
Capital Reporting Specialist – Yorkshire – Up to ****K WITH WORD –
Capital Reporting Specialist – Yorkshire – Up to ****K WITH WORD –
Senior Internal Auditor –Yorkshire – Up to ****K WITH WORD –Yorkshire
Senior Internal Auditor –Yorkshire – Up to ****K WITH WORD –
Senior Credit Risk Analyst – Yorkshire – Up to ****K WITH WORD –
Senior Credit Risk Analyst – Yorkshire – Up to ****K WITH WORD –
FLEXIBLE HOURS – FLUENT GERMAN PROJECT ASSISTANT  ONGOING BOOKING  c**** PH WITH WORD –
Senior Account Director – Financial/Professional Services WITH WORD –
Junior Sous Chef – **** Hotel – London WITH WORD –
Junior Sous Chef – **** Hotel – London WITH WORD –
Restaurant Manager – Shropshire – ****AA Rosettes – Live In – ****K WITH WORD –
Restaurant Manager – Shropshire – ****AA Rosettes – Live In – ****K WITH WORD –
Restaurant Manager – Shropshire – ****AA Rosettes – Live In – ****K WITH WORD –
Restaurant Manager – Shropshire – ****AA Rosettes – Live In – ****K WITH WORD –
Chef de Partie – Cumbria  **** AA Rosettes – up to ****K WITH WORD –
Chef de Partie – Cumbria  **** AA Rosettes – up to ****K WITH WORD –
Sous Chef – Somerset – **** AA Rosettes – ****K  ****K WITH WORD –
Sous Chef – Somerset – **** AA Rosettes – ****K  ****K WITH WORD –
Sous Chef – Somerset – **** AA Rosettes – ****K  ****K WITH WORD –
Head Chef – Modelo Lounge, Hove, Brighton WITH WORD –
Sous Chef – fresh branded operation – Leeds ****k  ****k WITH WORD –
Sous Chef – fresh branded operation – Leeds ****k  ****k WITH WORD –
Assistant Manager – Cock Hotel WITH WORD –
Assistant Manager / Assistant General Manager – London WITH WORD –
General Manager– Award Winning Restaurant – Castleford  ****K  ****K WITH WORD Manager–
General Manager– Award Winning Restaurant – Castleford  ****K  ****K WITH WORD –
SENIOR SOUS CHEF – LONDON –****  ****  tronic WITH WORD –
SENIOR SOUS CHEF – LONDON –****  ****  tronic WITH WORD –****
Sous Chef – High Quality British Gastro – London ****k WITH WORD –
Sous Chef – High Quality British Gastro – London ****k WITH WORD –
Sous Chef – Excellent British Brasserie  London ****k WITH WORD –
Commis and Demis Required – **** Hotel  ****  **** WITH WORD –
Assistant Manager – The Spa Hotel WITH WORD –
Chief Executive – Arthur Rank Training WITH WORD –
Openers Needed – Central London  ****K Basic  ****K OTE WITH WORD –
Trainee Recruitment Consultant – HenleyOnThames (**** OTE) WITH WORD –
New Business Sales Account Manager – B2B Sales WITH WORD –
BDM – Global IT Reseller – North England – ESP **** WITH WORD –
BDM – Global IT Reseller – North England – ESP **** WITH WORD –
BDM – Global IT Reseller – North England – ESP **** WITH WORD –
EVENTS/VENUE SENIOR SALES MANAGER  BARCELONA  €**** euro p/a WITH WORD €****
Events/Venue Sales Manager  Lisbon  €**** euro p/a  bonus WITH WORD €****
Community IV Therapy and Oncology Nurses – Great Benefits  Taunton WITH WORD –
Theatre Practitioner – Scrub  Salisbury WITH WORD –
Qualified Social Worker – Child Protection  Maidstone WITH WORD –
MOD Practice Nurse (Band 5) – Chatham, Kent  Maidstone WITH WORD –
MOD Practice Nurse (Band 5) – County Down, Northern Ireland  Bangor WITH WORD –
Community Psychiatric Nurse – Older Persons  High Wycombe WITH WORD –
RGN Nurse Disability Analyst – Swindon  Swindon WITH WORD –
Front End Web Developer – HTML & JavaScript  West London/Surrey WITH WORD –
Graduate & Midlevel Developers – Python, PHP, Java, C, C++  London WITH WORD –
Flash / AS**** Developer – Lancaster WITH WORD –
Java Developer – Agile / TDD WITH WORD –
Technical Product Manager – SQL / Web Services / API WITH WORD –
SCCM / SCOM / Citrix – Systems Administrator – London WITH WORD –
SCCM / SCOM / Citrix – Systems Administrator – London WITH WORD –
Embedded C++ Developer – Linux kernel, Open Source, LLVM, XEN, Wayland WITH WORD –
C++ Senior Engineer – Graphics, OpenGL, embedded Linux WITH WORD –
Multiple Java Developers (Java, J****EE) – Leeds WITH WORD –
Java Developer (Java, J****EE) – Warrington WITH WORD –
Product Manager – **** month FTC WITH WORD –
Net Developer x **** – Colchester – **** to **** DOE WITH WORD –
Net Developer x **** – Colchester – **** to **** DOE WITH WORD –
Senior IT Services Consultant– IT Services Manager– Service Management WITH WORD Consultant–
Senior IT Services Consultant– IT Services Manager– Service Management WITH WORD Manager–
Dynamics NAV Technical Consultant – London WITH WORD –
Oracle P****P SME – Consultancy – Norway – Up to c€**** – Interviewing WITH WORD –

We can identify the non ascii characters from the above. It is listed in a dictionary with their alternatives in the below code and we remove it

In [12]:
# function for removing non ascii char
def remochar(text, char, new):
    # joinng all characters but changes the non ascii
    return ''.join([i if i != char else new for i in text])

# the dictionary specifying the replacements
dict1 = {'–':'-', '€':'EU ', '“':'"', '’':'\'', '…':'...','—':'-'}

# replacing
for k in dict1.keys():
    df1.loc[:,'Title'] = df1.Title.apply(lambda x: remochar(x,k, dict1[k]))

Now we try checking for non ascii again. We will not find any as we already removed all.

In [13]:
dummy = df1.Title.apply(lambda x: test(x))

### 4c. Column: Location

Location column contains the location of the advertised job position. We can check for the unique values first.

In [14]:
# checking for unique values
locs = list(df1.Location.unique())

In [15]:
# displaying unique values
locs

['Dorking',
 'Glasgow',
 'Hampshire',
 'Surrey',
 'East Midlands',
 'Witney',
 'Derby',
 'Gateshead',
 'UK',
 'Avon',
 'Wolverhampton',
 'Berkshire',
 'North East England',
 'North Yorkshire',
 'East Sheen',
 'Buckinghamshire',
 'London',
 'Central London',
 'York',
 'Newcastle Upon Tyne',
 'Cambridge',
 'Manchester',
 'Maidstone',
 'Bradford',
 'Burgess Hill',
 'Birmingham',
 'Derbyshire',
 'Leicestershire',
 'The City',
 'Staffordshire',
 'Suffolk',
 'Haywards Heath',
 'Jersey',
 'South Yorkshire',
 'Nottinghamshire',
 'Northamptonshire',
 'Milton Keynes',
 'Bristol',
 'Hertfordshire',
 'Basingstoke',
 'Warrington',
 'West Yorkshire',
 'South East London',
 'Salisbury',
 'Leeds',
 'North West London',
 'Poole',
 'Cumbria',
 'Huddersfield',
 'Rotherham',
 'West Sussex',
 'Norwich',
 'Cardiff',
 'Bury St. Edmunds',
 'Braintree',
 'Nottingham',
 'Winchester',
 'Surey',
 'Kent',
 'Durham',
 'Sunderland',
 'Southampton',
 'Essex',
 'Bournemouth',
 'West London',
 'Boston',
 'Leicester',
 'Hull',
 'Shrewsbury',
 'Rugby',
 'Scotland',
 'Gainsborough',
 'Aberdeen',
 'Oxfordshire',
 'Harlow',
 'North London',
 'Woking',
 'Dundee',
 'Fife',
 'Inverness',
 'Oxford',
 'Frome',
 'Devon',
 'Torquay',
 'Exeter',
 'Aylesbury',
 'Sutton Green',
 'Preston',
 'Southport',
 'Lancashire',
 'Slough',
 'Brighton',
 'Skipton',
 'East Sussex',
 'Daventry',
 'Newton Abbot',
 'Cambridgeshire',
 'Liverpool',
 'Cheshire',
 'Chorley',
 'Burnley',
 'Marton-In-Cleveland',
 'Chelmsford',
 'Southend-On-Sea',
 'Brentwood',
 'Ipswich',
 'Colchester',
 'Clacton-On-Sea',
 'Edinburgh',
 'Watford',
 'Potters Bar',
 'Borehamwood',
 'Harrow',
 'Brent Cross',
 'Bexley',
 'Hereford',
 'Middlesbrough',
 'Northampton',
 'Eastbourne',
 'Redhill',
 'Horsham',
 'Perth',
 'High Wycombe',
 'Reeding',
 'Epsom',
 'Crawley',
 'Kendal',
 'Thetford',
 'Lowestoft',
 'Marlow',
 'Lincolnshire',
 'Guildford',
 'Worthing',
 'Witham',
 'Basildon',
 'Bolton',
 'Weymouth',
 'Dorchester',
 'Hemel Hempstead',
 'Luton',
 'Bedford',
 'Doncaster',
 'South Lanarkshire',
 'Aberdeenshire',
 'Wigan',
 'Gloucester',
 'Chipping Norton',
 'North Ayrshire',
 'Gravesend',
 'Bedfordshire',
 'Swindon',
 'Shropshire',
 'Ilford',
 'Sheffield',
 'Blackpool',
 'Ely',
 'Coventry',
 'Stirling',
 'Stockport',
 'Tunbridge Wells',
 'Dartford',
 'Cheltenham',
 'Scunthorpe',
 'Newport',
 'Dunstable',
 'Stroud',
 'Margate',
 'Henley-On-Thames',
 'Canterbury',
 'Workington',
 'Bagshot',
 'Barnsley',
 'Corby',
 'Cwmbran',
 'Taunton',
 'Andover',
 'West Midlands',
 'Chester',
 'Ealing',
 'Solihull',
 'Folkestone',
 'West Bromwich',
 'Chichester',
 'Bury',
 'Widnes',
 'North West England',
 'Sevenoaks',
 'Northumberland',
 'Ashford',
 'Southwark',
 'Oldham',
 'Uckfield',
 'Christchurch',
 'Halifax',
 'Arundel',
 'Gosport',
 'Amersham',
 'Devizes',
 'Crewe',
 'Stoke-On-Trent',
 'Fareham',
 'Leyland',
 'Cornwall',
 'Portsmouth',
 'Washington',
 'Walsall',
 'South West London',
 'Stafford',
 'Dudley',
 'Cheadle',
 'Wales',
 'East London',
 'South Shields',
 'Farnborough',
 'Bracknell',
 'Reading',
 'Prescot',
 'Somerset',
 'Gloucestershire',
 'Barnstaple',
 'Bromley',
 'Llandaff North',
 'Chesterfield',
 'Northallerton',
 'Dunfermline',
 'Darlington',
 'North Shields',
 'Dewsbury',
 'Altrincham',
 'Bridgwater',
 'Reigate',
 'Worcester',
 'Droitwich',
 'Burton-On-Trent',
 'Redcar',
 'Sudbury',
 'South Croydon',
 'Stockton-On-Tees',
 'Harrogate',
 'Wimbledon',
 'Norfolk',
 'Lewes',
 'Romford',
 'Hove',
 'South West England',
 'Macclesfield',
 'Thirsk',
 'Croydon',
 'Lambeth',
 'Bath',
 'Stratford-Upon-Avon',
 'Bognor Regis',
 'Fleet',
 'Mansfield',
 'Richmond',
 'Lincoln',
 'Kettering',
 'Yeovil',
 'Bangor',
 'Huntingdon',
 'Rushden',
 'Morecambe',
 'Merseyside',
 'Stevenage',
 'Gillingham',
 'Carlisle',
 'Runcorn',
 'Worcestershire',
 'Kidlington',
 'Sidcup',
 'Haslemere',
 'Waterlooville',
 'North Lambeth',
 'March',
 'Stamford',
 'Birkenhead',
 'Herefordshire',
 'Wiltshire',
 'Loughborough',
 'Warminster',
 'Evesham',
 'Melton Mowbray',
 'Newbury',
 'West End',
 'Wakefield',
 'Northwich',
 'Blaenau Gwent',
 'Tamworth',
 'Knutsford',
 'East Grinstead',
 'Cressington',
 'Keighley',
 'Camberley',
 'Cannock',
 'Letchworth Garden City',
 'Rickmansworth',
 "King's Lynn",
 'Swansea',
 'Midlothian',
 'Dorset',
 'West Lothian',
 'Belfast',
 'Antrim',
 'Warwickshire',
 'Bridgend',
 'Lancaster',
 'Wilmslow',
 'Eastern England',
 'Beaconsfield',
 'Kingston Upon Thames',
 'Northern Ireland',
 'Eastleigh',
 'Brierley Hill',
 'Redditch',
 'Accrington',
 'Caerphilly',
 'Bromsgrove',
 'Barnet',
 'Welwyn Garden City',
 'Wetherby',
 'Tewkesbury',
 'Lichfield',
 'Kensington',
 'Truro',
 'East Riding',
 'Sittingbourne',
 'Havant',
 'Grantham',
 'Isle Of Wight',
 'Weston-Super-Mare',
 'Leatherhead',
 'Hungerford',
 'Bexhill-On-Sea',
 'Chertsey',
 'Greenwich',
 'Docklands',
 'Telford',
 'Salford',
 'Halesowen',
 'Matlock',
 'Hook',
 'Edinburgh Technopole',
 'Melksham',
 'Maidenhead',
 'Selby',
 'Enfield',
 'Whyteleafe',
 'Hatfield',
 'Windsor',
 'Blackburn',
 'Sutton-In-Ashfield',
 'Trowbridge',
 'Morpeth',
 'Manchester Science Park',
 'South East England',
 'Warwick',
 'Walton-On-Thames',
 'Leighton Buzzard',
 'Staines',
 'Gatwick',
 'Uxbridge',
 'St. Albans',
 'Abingdon',
 'Plymouth',
 'Hackney',
 'Banbury',
 'Shipley',
 'Twickenham',
 'Alton',
 'Bolton Le Sands',
 'Broadfield',
 'Leamington Spa',
 'Thorpe St. Andrew',
 'Canary Wharf',
 'Covent Garden',
 'Yorkshire and Humberside',
 'Bicester',
 'Thame',
 'Hastings',
 'Clifton',
 'Normanton',
 'Horsforth',
 'Wokingham',
 'Farnham',
 'Woodthorpe',
 'St. Neots',
 'Weybridge',
 'Grimsby',
 'Kidderminster',
 'Chatham',
 'Wellingborough',
 'Camden',
 'Greater Manchester',
 'Petersfield',
 'Chippenham',
 'Scarborough',
 'Dover',
 'Great Yarmouth',
 'Ash Green',
 'Egham',
 'Stourbridge',
 'Swadlincote',
 'Hounslow',
 'Byfleet',
 'Cirencester',
 'Tonbridge',
 'Littlehampton',
 'Cliddesden',
 'Hertford',
 'Barking',
 'Oxfords',
 'Chesham',
 'Newark',
 'City',
 'Castleford',
 'Oldbury',
 'Wirral',
 'Peterborough',
 'Sale',
 'Pontefract',
 'Buckingham',
 'Nuneaton',
 'Highlands',
 'Godalming',
 'Cobham',
 'Barrow-In-Furness',
 'Thatcham',
 'Didcot',
 'Sutton Coldfield',
 'South Brent',
 'Hinckley',
 'Handbridge',
 'Rochester',
 'Shepton Mallet',
 'Little Chesterford',
 'St. Helens',
 'Tadworth',
 'Livingston',
 'West Malling',
 'Wrexham',
 'Wincanton',
 'Hitchin',
 'Wisbech',
 'Camden Town',
 'Addlestone',
 'North Finchley',
 'Newcastle-under-Lyme',
 'Aldershot',
 'Lewisham',
 'Gaydon',
 'Gerrards Cross',
 'West Town',
 'Calcot',
 'Leads',
 'Knaresborough',
 'Alfreton',
 'Newport Pagnell',
 'Lutterworth',
 'Worksop',
 'Linlithgow',
 'Ferndown',
 'St. Ives',
 'Coscote',
 'Market Harborough',
 'Towcester',
 'Chipping Campden',
 'Boldon Colliery',
 'Axbridge',
 'Rochdale',
 'Swanley',
 'Two Mile Ash',
 'Craigiehall',
 'Southampton International Airport',
 'Sompting',
 'Glasgow East Investment Park',
 'Dumfries',
 'Alcester',
 'Bourne End',
 'Thames Ditton',
 'Nottinham',
 'Glenrothes',
 'Kenilworth']

In [16]:
# checking for value counts
df1.Location.value_counts()

UK                      3996
London                  2743
South East London       1433
The City                 558
Leeds                    343
Manchester               334
Surrey                   317
Central London           316
Reading                  300
Birmingham               292
West Midlands            273
East Sheen               222
Bristol                  222
Berkshire                202
Nottingham               196
Oxford                   190
Hampshire                184
Milton Keynes            180
Cambridge                172
Sheffield                160
Kent                     158
Newcastle Upon Tyne      156
Hertfordshire            155
Guildford                147
Aberdeen                 141
Leicester                139
Cheshire                 133
Oxfordshire              127
West Yorkshire           127
Belfast                  125
                        ...
Cwmbran                    4
Stourbridge                4
Linlithgow                 4
Leads                      4
Hitchin                    4
Broadfield                 4
Melksham                   4
King's Lynn                4
Cobham                     4
Jersey                     4
Bridgwater                 4
Chipping Campden           3
Bourne End                 3
Sutton-In-Ashfield         3
Buckingham                 3
Sudbury                    3
Workington                 3
Brierley Hill              3
Thames Ditton              3
Glenrothes                 2
Redcar                     2
Rochdale                   2
St. Neots                  2
Pontefract                 2
Dover                      2
Lewisham                   2
Alcester                   2
Petersfield                2
Newcastle-under-Lyme       1
Dumfries                   1
Name: Location, Length: 482, dtype: int64

There are only 482 values. One of the problem which is seen clearly is the difference in resolution of the location. Sometimes it is country name, sometimes city name and sometimes county name. But it is not proper to consider this as a mistake. For example, if the job is a tourist guide who travels across UK, there is no point in mentioning a particular city. So we are not changing the location.

The words are properly formated, but still there can be some duplicates with spelling mistakes or other small changes. So we compare the string and replace if any. We can use fuzzywuzzy library for this. The library compares the names and returns a weight for the similarity. We use a threshold to filter out the reqired ones. Please not that this threshold can be found using trial and errorr method. 

Before that, we should also remove some meaningless place names such as 'The City' and 'City'. We remove with 'UK' as the all data seems to be from UK

In [17]:
# removing 'City' and 'The City' with 'UK'
df1.Location.replace('City', 'UK', inplace = True)
df1.Location.replace('The City', 'UK', inplace = True)

In [18]:
# making dictionary with key as location and value as count
dict3 = dict(df1.Location.value_counts())

# for each pair of words
for i in dict3.keys():
    for j in dict3.keys():
        # if first letters are same,  the number ration is below a threshold , fuzz ratio more than a threshold and not same
        if  (i[0] == j[0]) & (dict3[i]/dict3[j] < .03) & (fuzz.ratio(i,j) > 70) & (i != j):
            df1.Location.replace('City', 'UK', inplace = True)
            print("Replacing " + i + "  with " + j)

Replacing Reeding  with Reading
Replacing Surey  with Surrey
Replacing Leads  with Leeds
Replacing Oxfords  with Oxford
Replacing Nottinham  with Nottingham

### 4d. Column: ContractType
First we check for the unique values.

In [19]:
# checking for unique values
df1.ContractType.unique()

array(['not available', 'full_time', 'part_time'], dtype=object)

Accodring to the specification this has to be either one of either one of full-time, part-time or non-specified. So we replace with these terms. As it is only 3 values, we can do it manualy but if there are many, we can automate it using fuzzy

In [20]:
# replacing with specified values
df1.ContractType.replace('full_time', 'full-time', inplace = True)
df1.ContractType.replace('part_time', 'part-time', inplace = True)
df1.ContractType.replace('not available', 'non-specified', inplace = True)

### 4e. Column: ContractTime
We check for unique values

In [21]:
# checking for unique values
df1.ContractTime.unique()

array(['permanent', 'not available', 'contract'], dtype=object)

Similat to the previous one, we replace with the specified values

In [22]:
# replacing with specified values
df1.ContractTime.replace('not available', 'non-specified', inplace = True)

### 4f. Column: Company

First we check for the unique values

In [23]:
# obtaining the unique values for company
comp = df1.Company.unique()

In [24]:
# trying to print
comp

array(['Gregory Martin International', 'Brite Recruitment',
       'MatchBox Recruiting Ltd', ..., 'Finegreen Associates',
       'Orion Business Management', 'Gleeson Accountancy Recruitment Ltd'], dtype=object)

In [25]:
# checking the number
len(comp)

4880

In [26]:
df1.Company.value_counts()

UKStaffsearch                            248
CVbrowser                                170
Randstad                                 169
JOBG8                                    159
Matchtech Group plc.                     150
Chef Results                             137
Penguin Recruitment                      134
Hays                                     115
London4Jobs                              112
COREcruitment International              111
JAM Recruitment Ltd                      109
Computer People                           99
Clear Selection                           92
Monarch Recruitment                       89
Towngate Personnel                        79
Cherryred Recruitment                     69
Senitor Associates                        67
Capita Resourcing                         62
Support Services Group                    62
Modis                                     62
Aspire Data Recruitment                   61
Adecco                                    57
Evolution Recruitment Solutions           55
Idex Consulting                           55
Populus Healthcare                        55
Swiis Healthcare                          54
Bee Recruitment London Ltd                53
The Placement Group                       52
IC Software                               52
HCL Permanent                             51
                                        ...
Travail Employment Group                   1
Macmillan Davies Hodes.                    1
Rullion Engineering Limited                1
Antal International                        1
The Vernon Walker Group                    1
PEARSON WHIFFIN RECRUITMENT LTD            1
Parc Ellis Solutions Ltd                   1
Capital International                      1
Bluetownonline Ltd                         1
Kudos Web Design                           1
Sue Ryder Care                             1
Jobs@Pertemps   Swindon commercial         1
Trickett Ames Recruitment Solutions        1
BAM Outsource                              1
Red Rock Partnership Ltd                   1
Finance Birmingham                         1
microTECH Recruitment                      1
JP Specialist Contracts                    1
Crisis UK                                  1
Curo Resourcing Limited                    1
RH Recruiting Ltd                          1
NP Education                               1
Lyall Associates                           1
FRENCH SELECTION UK                        1
Exigo Recruitment Ltd                      1
Rapport Technical Recruitment LTD          1
Sanderson Government & Defence             1
Adria Solutions Limited                    1
Pari Passu Limited                         1
121 International Recruitment Limited      1
Name: Company, Length: 4879, dtype: int64

There are 4880 unique values. We have also found that there are some missing values. Although we are not ased to remove missing values, for easiness of processing, we fill the missing values with 'not available'.

In [27]:
# filling missing values with not available
df1.Company.fillna('not available', inplace = True)

Now we check for some junk values

In [28]:
# checking for values with length less than 2
df1[df1.Company.apply(lambda x: len(x) < 2)]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
20472,68849372,Apply Today Start Tomorrow,UK,non-specified,permanent,.,"PR, Advertising & Marketing Jobs",18000,jobstoday.co.uk,20130701T120000,20130830T120000

There is only a dot here. We just conider it as a missing value and remove with 'not available'

In [29]:
df1.Company.replace('.','not available', inplace = True)

There are some inconsistency in data too. The same names are written in different forms. For example some company names are written with and without 'Limited' and sometime they use 'Ltd'. Now we look for these incosistencies and also try to make data in all same format. (eg all first letters in capital and all other in small). 

makenice() function formats the data (as all first letters in capital and all other in small), and also removes the ambuiguity of limited and ltd.

checkformatch() function is used to check is two names are equivalent. More precisely it checks if one name is completely inlcuded in the other name. (ie each word in one name is there in the other name). Some trial and error exercise shows that this is much useful than the fuzz to compare the company names..

In [30]:
# function to clean each name
def makenice(line):
    # takes each word
    words = line.strip().split()
    newline = ''
    # re-makes the name with cleaned words
    # this for loop takes each word, capitalize the first char, and strips any unwanted
    for w in words:
        w = w.strip().strip('.').lower().strip()
        if w != '':
            w = w[0].upper()+w[1:] if len(w) > 1 else w[0].upper()
            # checks for the word Limited and convers to Ltd for uniformity
            if w=='Limited':
                w = 'Ltd'
        newline = newline + ' ' + w
    # returns the cleaned name
    return newline.strip(' ')

In [31]:
# unifying the format of the written names
df1.loc[:,'Company'] = df1.Company.apply(lambda y: makenice(y))

checkformatch() function is used to check is two names are equivalent. More precisely it checks if one name is completely inlcuded in the other name. (ie each word in one name is there in the other name). Some trial and error exercise shows that this is much useful than the fuzz to compare the company names.

autocorrect function identifies the same companies written as different and unifies.

Please note that it will unify only certain conditions.

If there is a name x and name y and y is x + something else (eg. x='coles' and y = 'coles group') and there exists only a single y (ie for x = coles, there is no two y such as 'coles petrol' and 'coles supermarkets')

This is to ensure that we dont group together entirely different companies. Also we replace a name with longer name only, ie we dont generalize something like Coles Petrols and Coles Supermarkets as Coles. This can often make problems. (eg, Most of the companies under the name Mitsubushi are entirely unrelated firms (Wikipedia, 2018)

We also check that the replacing company names have same first word. Most often, the first words remain unchanged even if we write company names differently.

In short we try to be safe while cleaning up the data.

In [32]:
# check for matches between names
def checkformatch(c1, c2):
    # takes each words of both names
    c1l = c1.split()
    c2l = c2.split()
    
    # checks is each word in c1 in c1
    f1 = True
    for w in c1l:
        if w not in c2l:
            f1 = False
    f2 = True
    
    # checks if each word in c2 in c1
    for w in c2l:
        if w not in c1l:
            f2 = False
            
    # if any of the above is true, returns true
    return (f1 | f2)

# autocorrect inconsistencies
def autocorrect(letter):
    # select all unique company names with the given letter
    comp = list(df1[df1.Company.apply(lambda x: (x[0] == letter))].Company.unique())
    
    # dictionary to group together the names
    dict2 = {}
    
    for c1 in comp:
        for c2 in comp:
            # compare 2 names and if they matches and the first words are same
            if checkformatch(c1, c2) & (c1 != c2) & (c1.split()[0] == c1.split()[0]):
                # if it is jsut a difference of missing 'Ltd's, just append it 
                if (c1 + ' Ltd' == c2):
                    df1.Company.replace(c1, c2)
                elif (c2 + ' Ltd' == c1):
                    df1.Company.replace(c2, c1)
                
                else:
                    count1 = len(df1[df1.Company == c1])
                    count2 = len(df1[df1.Company == c2])
                    
                    # arranging the pair as [shorter, longer]
                    sizearr = [c1,c2] if len(c1)<len(c2) else [c2,c1]
                    
                    # for each shorter we make a list of possible longer names and add to dictionary
                    if sizearr[0] in dict2.keys():
                        dict2[sizearr[0]].append(sizearr[1])
                    else:
                        dict2[sizearr[0]] = [sizearr[1],]
        # for increasing the speed            
        comp.remove(c1)
    # count for replacements in this execution
    i = 0
    # for each smaller name
    for w in dict2.keys():
        # if there is only possible longer name, replace it, increase count and print
        if len(dict2[w]) == 1:
            i = i + 1
            df1.Company.replace(w,dict2[w][0], inplace=True)
            print(w + ' replaced with ' + dict2[w][0])
    # return the count
    return i

Now we run autocorrect function for each letter. The comparison is limited by the letter as otherwise the execution takes too much time. We use a while loop to repeatedly execute the function because there can be cascaded relations such as 'Coles', 'Coles Group', 'Coles Group Ltd.'. For this, in the first execution Coles becomes Coles Group and then in next all Coles Group becomes Coles Group Ltd. We repeat until we finds that there is no more changes happening.

In [33]:
# obtaining all characters 
allchar = string.ascii_uppercase + string.digits + string.punctuation

# repeated execution of the autocorrect function
while(True):
    count = 0
    # for each possible first character, execute funtion 
    for let in allchar:
        count = count + autocorrect(let)
    # repeat untill the retuened count of an execution turns zero
    # there can be cascaded names such as 'Coles', 'Coles Group', 'Coles Group Ltd.'
    # for this, in the first execution Coles becomes Coles Group and then in next all Coles Group becomes Coles Group Ltd.
    # This is why we need this repeted calling of function
    if count == 0:
        break

Amrec replaced with Amrec Recruitment Ltd
Asquith Nurseries replaced with Asquith Day Nurseries
Allied Healthcare replaced with Allied Healthcare Group
Antal International replaced with Antal International Ltd Warrington
Alderwood replaced with Alderwood Education
Appetite4recruitment High End Restaurants, Pubs Bars replaced with Appetite4recruitment High End Restaurants, Pubs & Bars
Amdas replaced with Amdas Consultancy Ltd
Ad Lib replaced with Ad Lib Holdings Ltd
Avenue Scotland replaced with Avenue Scotland Falkirk
Acceler It replaced with Acceler It Recruitment Consultancy
Ambridge Harris replaced with Ambridge Harris Associates
Astute Ltd replaced with Astute Technical Recruitment Ltd
Astute Technical replaced with Astute Technical Recruitment Ltd
Astute Recruitment replaced with Astute Technical Recruitment Ltd
Appetite4recruitment Contract Facilities Division replaced with Appetite4recruitment Contract & Facilities Division
Arrows Group replaced with Arrows Group Healthcare
Admiral Hotels Restaurants replaced with Admiral Hotels & Restaurants
Astbury Marsden Partners Ltd replaced with Astbury Marsden & Partners Ltd
Anonymous replaced with Anonymous Recruiter
Anderson Recruitment Ltd replaced with Anderson Cole Recruitment Ltd
Axica replaced with Axica Recruitment
Bms Graduate replaced with Bms Graduate Recruitment Ltd
Bond Recruitment replaced with Bond Recruitment Services Ltd
Bms Recruitment replaced with Bms Graduate Recruitment Ltd
Bms Marketing replaced with Bms Sales And Marketing Specialists
Blue Arrow Guildford replaced with Blue Arrow Catering Guildford
B&q replaced with B&q Plc
Berkeley Scott Contract Catering Facilities Management replaced with Berkeley Scott Contract Catering & Facilities Management
Brampton Stafford replaced with Brampton Stafford Recruitment
Brampton Recruitment replaced with Brampton Stafford Recruitment
Branwell Ford replaced with Branwell Ford Associates
Barker Ross replaced with Barker Ross Staffing Solutions
Bupa replaced with Bupa Care Services
Clear Selection replaced with Clear Selection Spa And Leisure
Castlerock Recruitment replaced with Castlerock Recruitment Group
Capital Strategy replaced with Capital Strategy Associates
Company Confidential replaced with Confidential Company
Capita Education replaced with Capita Education Resourcing
Chm replaced with Chm Recruit
Chris replaced with Chris Hayes Associates
Collins King Associates Ltd replaced with Collins King & Associates Ltd
Communicate replaced with Communicate Recruitment Solutions
Capita Resourcing It replaced with Capita Resourcing It Resourcing
Careerwise replaced with Careerwise Uk Ltd
Coyle Personnel replaced with Coyle Personnel Plc
Ceema Recruitment replaced with Ceema Technology Recruitment
Core Consulting replaced with Core Education And Consulting Solutions Ltd
Caritas replaced with Caritas Recruitment
Co Operative replaced with Co Operative Food
Dms replaced with Dms Computer Recruitment
Drake International replaced with Drake International Uk Operations
Dudley Child replaced with Dudley Child Executive Recruitment Ltd
Debt Credit Solutions Ltd replaced with Debt & Credit Solutions Ltd
Dynamite Recruitment replaced with Dynamite Recruitment Solutions
Excel Resourcing replaced with Excel Technical Resourcing Solutions Ltd
Encore Personnel replaced with Encore Personnel Services
Executive Facilities replaced with Executive Facilities Technology
Ecs Group Ltd replaced with Ecs Recruitment Group Ltd
Education Professionals replaced with Ep Resourcing Ltd T/a Education Professionals
Elevation Sales replaced with Elevation Sales And Marketing
Edgar Cowen replaced with Edgar Cowen It Recruitment
Eaglecliff replaced with Eaglecliff Recruitment
Extech 2000 Ltd replaced with Extech 2000 Recruitment Ltd
Energize Recruitment replaced with Energize Recruitment Solutions Ltd
Escape replaced with Escape Hatch Media Recruitment
Empiric replaced with Empiric Solutions
Focus Resourcing replaced with Focus Resourcing Group
Fresh Connect replaced with Fresh Connect Recruitment
First Point It replaced with First Point It Resourcing
Fircroft replaced with Fircroft Engineering Services Ltd
Fpsg replaced with Fpsg Connect
Goodman Masson replaced with Goodman Masson Recruitment Services Ltd
G2 Recruitment Ltd replaced with G2 Recruitment Solutions Ltd
Greenhill replaced with Greenhill Group Ltd
Grafton Recruitment replaced with Grafton Recruitment Ni
Huntress Group replaced with Huntress Group Technology Perms
Huxley Associates replaced with Huxley Associates London
Hewitson Walker replaced with Hewitson Walker London
Harvey Nash replaced with Harvey Nash It Recruitment Uk
Hudson replaced with Hudson Banking & Finance
Heat Recruitment replaced with Heat Recruitment North West
Healthworks replaced with Healthworks Recruitment
Interaction Recruitment replaced with Interaction Recruitment Plc
Isl replaced with Isl Uk
Initi8 replaced with Initi8 Recruitment
Integrity replaced with Integrity It Solutions Ltd
It Executive replaced with It Executive Recruitment
Id Search Selection replaced with Id Search And Selection Ltd
Jark Healthcare replaced with Jark Healthcare Jobs
Lewis Paige replaced with Lewis Paige Recruitment
Lime People Ltd replaced with Lime People South Yorkshire Ltd
Lorien replaced with Lorien Resourcing Ltd
Lawrence Harvey replaced with Lawrence Harvey Search Selection
Lawrence Harvey Search Selection replaced with Lawrence Harvey Search & Selection
Matchtech Group replaced with Matchtech Group Plc
Mpi Ltd replaced with Mpi Aviation Ltd
Modis replaced with Modis International Ltd
Moto replaced with Moto Hospitality
Moriati Media replaced with Moriati Media Uk Ltd
Morgan Mckinley replaced with Morgan Mckinley Group Ltd
Mbn Recruitment Ltd replaced with Mbn Recruitment Solutions Ltd
Mapp Ltd replaced with Mapp Ltd It & Business Management Recruitment Specialists
Mcgregor Boyall replaced with Mcgregor Boyall Associates Ltd
Murray Mcintosh replaced with Murray Mcintosh Recruitment Consult Ltd
Moriati Media Ltd replaced with Moriati Media Uk Ltd
Michael James replaced with Michael James Associates
Manpower replaced with Manpower North West
Mortimer Spinks replaced with Mortimer Spinks Ltd T/a Harvey Nash
Madison Bridge replaced with Madison Bridge Associates
New Directions replaced with New Directions Education Ltd
Nicoll Curtin replaced with Nicoll Curtin Technology
Nhs Lanarkshire replaced with Nhs Lanarkshire Medical Staffing
Orchard replaced with Orchard Medical Recruitment
Perpetual Engineering replaced with Perpetual Engineering Partnerships Ltd
Pthr International Restaurants Bars replaced with Pthr International Restaurants & Bars
Portfolio replaced with Portfolio Credit Control
Page Personnel replaced with Page Personnel Finance
Pcr replaced with Pcr Recruitment Ltd
Populo replaced with Populo Resourcing
Parc Ellis replaced with Parc Ellis Solutions Ltd
Professional Technical replaced with Professional Technical Recruitment
Palantir replaced with Palantir Solutions
Platinum Co replaced with Platinum & Co
Qed replaced with Qed Clinical Services Ltd
Rullion Engineering Ltd replaced with Rullion Engineering Personnel Ltd
Rise Recruitment replaced with Rise Technical Recruitment Ltd
Randstad Financial Professional replaced with Randstad Financial And Professional Ltd
Randstad Financial Professional Ltd replaced with Randstad Financial And Professional Ltd
Rle International replaced with Rle International Product Development Lt
Reed Hospitality Leisure replaced with Reed Hospitality & Leisure
R3 replaced with R3 Resourcing
Re M replaced with Re & M Ltd
Rullion Engineering replaced with Rullion Engineering Personnel Ltd
R1 replaced with R1 Global
Rethink Recruitment replaced with Rethink Recruitment Solutions Ltd
Recruit 12 Ltd replaced with Recruit Recruit Ltd
Recruit Mint Ltd replaced with Recruit Recruit Ltd
Resource Management replaced with Resource Management International Consultants
Real Recruitment replaced with Real Time Recruitment Solutions
Rig Animal Health Recruit replaced with Rig Veterinary Ltd T/a Rig Animal Health Recruit
Rd Recruitment replaced with Rd Financial Recruitment
Reflex Recruitment replaced with Reflex Computer Recruitment Ltd

Swiis replaced with Swiis Healthcare
Sykes Co Recruitment replaced with Sykes & Co Recruitment Ltd
Smart Recruitment Solutions replaced with Smart Solutions Recruitment
Ser Ltd replaced with Ser Staffing Ltd
Syk Recruitment replaced with Syk Recruitment Specialists
Str replaced with Str Health
Ssp replaced with Ssp Uk Ltd
Synergy replaced with Synergy Health Recruitment
Search Recruitment replaced with Search Recruitment Services Ltd
Sarah Harvey replaced with Sarah Harvey Recruitment
Seven Steps replaced with Seven Steps Recruitment Ltd
Steps Recruitment replaced with Seven Steps Recruitment Ltd
Sales Recruitment Services replaced with Sales Recruitment Services Srs Uk Ltd
Spire replaced with Spire Healthcare
Stott May replaced with Stott & May
Sw6 replaced with Sw6 Associates
Sanderson Recruitment replaced with Sanderson Recruitment Plc
Spargonet Consulting replaced with Spargonet Consulting Plc
Sellick Partnership replaced with Sellick Partnership Midlands
Scom replaced with Scom Managed Services
Swanstaff replaced with Swanstaff Recruitment Ltd
Tate replaced with Tate Catering
Tesco replaced with Tesco Opticians
Timeplan Education replaced with Timeplan Education Group Ltd
Taylor Green replaced with Taylor Green Recruitment Ltd
The Co Operative Group replaced with The Co Operative Banking Group
Thomas Recruitment replaced with Thomas James Recruitment
Think Recruitment replaced with Think Specialist Recruitment
Tqr replaced with Tqr Search & Selection
Tmp Ltd replaced with Tmp & Associates Ltd
Thames Water replaced with Thames Water Utilities Ltd
Trg replaced with Trg Logistics
Tpp replaced with Tpp Not For Profit
Thornhvac replaced with Thornhvac Hvac Recruiters
Temp Team replaced with Temp Team Active Selection
University Of The Arts replaced with University Of The Arts London
Wallace Hind Selection replaced with Wallace Hind Selection Llp
West One Hotel Catering Consultancy Ltd replaced with West One Hotel & Catering Consultancy Ltd
Wells Tobias replaced with Wells Tobias Recruitment Ltd
Wavelength Recruitment replaced with Wavelength Professional Recruitment Ltd
Xerox replaced with Xerox Concessionaires
Your World Healthcare replaced with Your World Healthcare Uk
360 Resourcing replaced with 360 Resourcing Solutions
Ata replaced with Ata Recruitment
Alexander Lloyd replaced with Alexander Lloyd Compliance & Financial Services
Astbury Marsden replaced with Astbury Marsden & Partners Ltd
Adept replaced with Adept Services Ltd
Adecco Uk replaced with Adecco Uk & Ireland
Barclays replaced with Barclays Corporate
Berkeley Scott Pubs, Bars Restaurants replaced with Berkeley Scott Pubs, Bars & Restaurants
Berry Recruitment replaced with Berry Recruitment Head Office
Blue Skies replaced with Blue Skies Marketing Recruitment
Certes replaced with Certes Computing Ltd
Classic Consulting Ltd replaced with Classic Consulting Uk Ltd
Devonshire replaced with Devonshire Appointments Ltd
Ets Technical replaced with Ets Technical Sales
Experis replaced with Experis Finance
En Spiral replaced with En Spiral Recruitment
Elevate Recruitment replaced with Elevate Recruitment & Training Consultants
Embs replaced with Embs People Transfer
Elevation Accountancy replaced with Elevation Accountancy And Finance
Focus It replaced with Focus It Recruitment Ltd
Fusion People replaced with Fusion People Trades
Gravitas Recruitment Ltd replaced with Gravitas Recruitment Group Ltd
Grafton Banks replaced with Grafton Banks Finance Ltd
Hot Recruitment replaced with Hot Recruitment Consultants
Harnham Search Selection replaced with Harnham Search & Selection
Hays Specialist Recruitment Ltd replaced with Hays Specialist Recruitment Ltd Hays En
Informatiq replaced with Informatiq Consulting
Idex Consulting replaced with Idex Consulting Llp
Imperative Recruitment replaced with Imperative Recruitment Uk Ltd
Intec replaced with Intec Recruitment Services Ltd
Investigo replaced with Investigo Change Solutions
Metro replaced with Metro Professionals
Nuffield Health replaced with Nuffield Health Staffnurse.com
Nationwide replaced with Nationwide People Ltd
Nestle replaced with Nestle More To Live
Pure Recruitment replaced with Pure Online Recruitment
Premier Group replaced with Premier Group Recruitment
Pda Search Selection replaced with Pda Search & Selection
Partnership replaced with Pertemps Recruitment Partnership
Polar Recruitment replaced with Polar Recruitment Services Ltd
Renovo replaced with Renovo Employment Group
Rz replaced with Rz Group
Argyll Scott replaced with Argyll Scott Technology
Ambition replaced with Ambition Europe Ltd
Allstaff replaced with Allstaff Employment
Hilton Uk Ireland replaced with Hilton Uk & Ireland
Hix replaced with Hix Restaurants
Hays Senior Finance replaced with Hays Senior Finance Uk
Ips replaced with Ips Group Ltd
Metaskil replaced with Metaskil Plc
Medacs Healthcare replaced with Medacs Healthcare Nursing
Network Recruitment replaced with Network Professional Recruitment
Populus replaced with Populus Consultants
Peaks Dales Recruitment replaced with Peaks & Dales Recruitment
Precision replaced with Precision Recruitment Uk Ltd
Psd replaced with Psd Technology Contracts Ltd
Prs replaced with Prs Jobs
Networx replaced with Networx Recruitment
Pertemps replaced with Pertemps Medical Professionals
Professional Recruitment replaced with Point Professional Recruitment
Parkside replaced with Parkside Recruitment Staines

### 4g. Column: Category

We check the unique values

In [34]:
# checking unique values
df1.Category.unique()

array(['Engineering Jobs', 'Accounting & Finance Jobs',
       'Healthcare & Nursing Jobs', 'Hospitality & Catering Jobs',
       'IT Jobs', 'Sales Jobs', 'Teaching Jobs',
       'PR, Advertising & Marketing Jobs'], dtype=object)

There are only some values and all the values are proper. So we cant find any issue with this attribute.

### 4h. Column: Salary per annum
The salary per annum should be a number. We check for non numbers

In [35]:
# checking for non digit salary values
df1[df1['Salary per annum'].apply(lambda x: not str(x).isdigit())]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
133,46626860,Registered Home Manager Job Bournemouth,Bournemouth,full-time,non-specified,Not Available,Healthcare & Nursing Jobs,30K,careworx.co.uk,20130329T150000,20130528T150000
238,46627928,Care Home Manager Job North London ****K,London,full-time,non-specified,Not Available,Healthcare & Nursing Jobs,38K,careworx.co.uk,20121107T150000,20130205T150000
305,46628805,Home Care Workers Berkhampsted,UK,part-time,non-specified,Not Available,Healthcare & Nursing Jobs,14K,careworx.co.uk,20120905T150000,20121104T150000
596,46634306,Home Manager Mental Health 11 bed,Wales,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,24K,careworx.co.uk,20120913T120000,20121112T120000
647,46634923,RGN Nurse Hull Days or Nights **** per hour,UK,full-time,non-specified,Not Available,Healthcare & Nursing Jobs,20896.2 - 23095.8,careworx.co.uk,20130605T150000,20130903T150000
830,46637596,Staff Nurse South Shields ****,South Shields,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,23K,careworx.co.uk,20120429T150000,20120513T150000
896,48082563,Senior Chef de Partie One AA Rosette Hotel T...,Cumbria,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,16153.8 - 17854.2,caterer.com,20130109T150000,20130123T150000
952,49065458,Service Manager Learning Disabilities,Wales,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,25K,careworx.co.uk,20130108T150000,20130122T150000
980,49689021,Assessment Officer,Kent,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,23712.0 - 26208.0,careworx.co.uk,20120220T000000,20120321T000000
996,49845058,Chef de Partie Fresh Food Pub Good Reputatio...,Lancashire,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,16K,caterer.com,20120601T150000,20120701T150000
1062,51061201,Community Home Workers Melton Mowbray,Melton Mowbray,part-time,non-specified,Not Available,Healthcare & Nursing Jobs,16416.0 - 18144.0,careworx.co.uk,20131023T120000,20131106T120000
1081,51285942,Senior Social Worker Fostering,Coventry,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,33K,careworx.co.uk,20131230T120000,20140129T120000
1141,52489008,RGN Care Home,Northwich,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,22321.2 - 24670.8,careworx.co.uk,20130928T000000,20131127T000000
1292,55400384,Live in Care Worker Jobs Exeter,Exeter,part-time,non-specified,Not Available,Healthcare & Nursing Jobs,17578.8 - 19429.2,careworx.co.uk,20130504T150000,20130603T150000
1379,55408955,Senior Applications Developer,Warwickshire,full-time,permanent,Jobg8,IT Jobs,45K,planetrecruit.com,20121105T000000,20121205T000000
1410,55409587,MVNO Enterprise Architect,London,full-time,permanent,Jobg8,IT Jobs,85K,planetrecruit.com,20121223T150000,20130323T150000
1525,56209766,Nurse Advisor COPD,Watford,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,30871.199999999997 - 34120.8,careworx.co.uk,20120814T120000,20120828T120000
1621,56814478,Chef de Partie **** AA Rosettes,East Sussex,non-specified,non-specified,Gold Leaf Recruitment,Hospitality & Catering Jobs,19K,jobs.catererandhotelkeeper.com,20120612T000000,20120811T000000
1797,58533485,Senior Embedded Controls Systems Engineer,Leicestershire,full-time,permanent,Executive Recruitment Services,IT Jobs,35146.2 - 38845.8,planetrecruit.com,20120418T000000,20120617T000000
1822,58759123,"Helpdesk / Desktop Support analystExcel, Word,...",London,full-time,permanent,Information Technology Services,IT Jobs,21853.8 - 24154.2,planetrecruit.com,20120813T000000,20121012T000000
2051,60684270,Door to door / Field Sales Canvassers,Tamworth,non-specified,permanent,Zenith Renewable Energy,Sales Jobs,17100.0 - 18900.0,cv-library.co.uk,20130729T000000,20131027T000000
2063,60685515,Staff Nurse Elderly Care Stockton on Tees,UK,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,22K,careworx.co.uk,20130504T150000,20130518T150000
2118,61445890,Mental Health Advisor,Colchester,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,24646.8 - 27241.2,careworx.co.uk,20120626T150000,20120825T150000
2602,64145428,DEPUTY MANAGER READING,Berkshire,full-time,permanent,Cherry Red Recruitment,Hospitality & Catering Jobs,20896.2 - 23095.8,strike-jobs.co.uk,20130604T150000,20130803T150000
2724,64573377,Deputy Care Manager / Care Manager,Barnsley,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,17100.0 - 18900.0,careworx.co.uk,20120529T120000,20120728T120000
2889,64809245,Contract Mechanical Draughtsperson (Huddersfield),Huddersfield,non-specified,contract,Perpetual Engineering Partnerships Ltd,Engineering Jobs,36480.0 - 40320.0,totaljobs.com,20120215T000000,20120415T000000
2923,64813318,Manufacturing Engineer (Mechanical / Pumps / CNC),Crewe,non-specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,33253.799999999996 - 36754.200000000004,totaljobs.com,20120504T120000,20120603T120000
3057,65171402,Complaints Manager,South East England,non-specified,contract,Not Available,IT Jobs,49020.0 - 54180.0,theitjobboard.co.uk,20120628T120000,20120728T120000
3186,65188754,Technical Sales Engineer (ElectroMechanical),Sheffield,non-specified,permanent,Rise Technical Recruitment Ltd,Engineering Jobs,27553.8 - 30454.2,totaljobs.com,20130123T120000,20130423T120000
3274,65317743,Assistant General Manager New Opening Aberde...,Aberdeen,non-specified,non-specified,The Recruitment Room,Hospitality & Catering Jobs,26K,caterer.com,20131104T150000,20131204T150000
...,...,...,...,...,...,...,...,...,...,...,...
21666,69012121,Adult Speech Language Therapist,Kent,non-specified,contract,Medicspro,Healthcare & Nursing Jobs,54K,cv-library.co.uk,20120703T000000,20120901T000000
21734,69017589,"BI Manager, SQL Server Financial ServicesHertf...",Hertfordshire,non-specified,permanent,Parallel Consulting Ltd,IT Jobs,57000.0 - 63000.0,cv-library.co.uk,20130521T120000,20130720T120000
21744,69018023,PHP WEB DEVELOPER / PHP PROGRAMMER / SOFTWARE ...,UK,non-specified,permanent,Hiredonline,IT Jobs,25K,cv-library.co.uk,20121009T000000,20130107T000000
21951,69022222,Software Test Engineer **** East Anglia Embedded,Eastern England,non-specified,permanent,Kendall Poole Consulting Ltd,IT Jobs,35K,cv-library.co.uk,20120405T150000,20120604T150000
22029,69022816,PR and Events Manager (Maternity Contract),UK,non-specified,contract,Pursuit Recruitment,"PR, Advertising & Marketing Jobs",35K,cv-library.co.uk,20131213T000000,20140211T000000
22283,69036978,Application Support Analyst (legal sector) Lo...,London,non-specified,permanent,Ashdown It,IT Jobs,33253.799999999996 - 36754.200000000004,cwjobs.co.uk,20121122T120000,20121222T120000
22418,69039080,Oracle & SQL DBA Investment Bank London,London,non-specified,permanent,Hays Finance Technology,IT Jobs,52246.2 - 57745.8,cwjobs.co.uk,20121018T150000,20121117T150000
22420,69039153,"Business Analyst (Debt Finance, Corporate Bank...",South East London,non-specified,permanent,Anson Mccade,IT Jobs,55K,cwjobs.co.uk,20120628T150000,20120926T150000
22465,69039760,Project Manager (Software development) near Ma...,UK,non-specified,permanent,Newton Blue,IT Jobs,47K,cwjobs.co.uk,20120510T120000,20120609T120000
22493,69039997,Graduate Software Developer - online gaming,London,non-specified,permanent,Enterprise Recruitment Ltd,IT Jobs,30K,cwjobs.co.uk,20121209T150000,20130108T150000
23111,69080469,Catering Engineer,UK,non-specified,permanent,Rise Technical Recruitment,Engineering Jobs,28500.0 - 31500.0,cv-library.co.uk,20120225T000000,20120525T000000
23152,69080768,Drilling Equipment Service Technician,Aberdeen,non-specified,permanent,Connections Recruitment Ltd,Engineering Jobs,42750.0 - 47250.0,cv-library.co.uk,20130428T120000,20130727T120000
23207,69081257,Principal/Senior ITS Consultant,Taunton,non-specified,permanent,Rgb Recruitment Ltd,Engineering Jobs,39421.2 - 43570.8,cv-library.co.uk,20120507T120000,20120606T120000
23365,69083476,Auto CAD Designer,Milton Keynes,non-specified,contract,Barker Ross Staffing Solutions,Engineering Jobs,31920.0 - 35280.0,cv-library.co.uk,20130627T120000,20130727T120000
23478,69091714,Web Support Analyst,Belfast,non-specified,contract,Vanrath It,IT Jobs,35K,nijobs.com,20131024T150000,20131223T150000
23557,69118140,Sales Manager Drain Cleaning & Inspection Equi...,Southend-On-Sea,full-time,permanent,London4jobs,Sales Jobs,30871.199999999997 - 34120.8,london4jobs.co.uk,20120911T150000,20121210T150000
23619,69122549,Credit Assistant,London,non-specified,non-specified,Venn Group Ltd,Accounting & Finance Jobs,31920.0 - 35280.0,cityjobs.com,20120818T120000,20120917T120000
23815,69162548,Quality/ CMM Inspector,UK,full-time,permanent,Cvbrowser,Engineering Jobs,26128.8 - 28879.2,cvbrowser.com,20120216T000000,20120416T000000
23984,69169854,Marketing Manager Food industry,Tunbridge Wells,non-specified,permanent,Sirius Executive Search,"PR, Advertising & Marketing Jobs",45K,totaljobs.com,20130706T000000,20130805T000000
24008,69170235,Secretarial/PA Team Leader,Edinburgh Technopole,non-specified,contract,Carlisle Managed Solutions,Accounting & Finance Jobs,26596.199999999997 - 29395.800000000003,totaljobs.com,20120720T000000,20120918T000000
24027,69170445,Graduate Trainee Financial Risk Trader ****k ...,South East London,non-specified,permanent,The Graduate Recruitment Company,Accounting & Finance Jobs,26K,totaljobs.com,20130108T150000,20130207T150000
24113,69171949,DEMI CHEF DE PARTIE **** excellent tips,Tonbridge,non-specified,permanent,Ashdown Appointments Ltd,Hospitality & Catering Jobs,15196.199999999999 - 16795.8,totaljobs.com,20120106T000000,20120306T000000
24170,69172786,Qualified Social Workers for ALL of London,South East London,non-specified,contract,Tempest Resourcing,Healthcare & Nursing Jobs,48K,totaljobs.com,20130911T120000,20131011T120000
24319,69182099,Bars Manager,Oxfordshire,non-specified,non-specified,Appetite 4 Recruitment,Hospitality & Catering Jobs,22321.2 - 24670.8,jobs.catererandhotelkeeper.com,20130109T150000,20130123T150000
24352,69182395,General Manager Leisure Complex SE London Area...,London,non-specified,non-specified,"Berkeley Scott Pubs, Bars & Restaurants",Hospitality & Catering Jobs,33253.799999999996 - 36754.200000000004,jobs.catererandhotelkeeper.com,20130618T000000,20130718T000000
24364,69182561,MB/AR/****,London,non-specified,non-specified,Aston Recruitment,Hospitality & Catering Jobs,20K,jobs.catererandhotelkeeper.com,20120606T000000,20120620T000000
24427,69183201,Chef de Partie/CDP/CDP District Line,London,non-specified,non-specified,Cherryred Recruitment,Hospitality & Catering Jobs,20K,jobs.catererandhotelkeeper.com,20120619T120000,20120719T120000
24462,69183392,Designate Head Chef,London,non-specified,non-specified,Loch Fyne Restaurants,Hospitality & Catering Jobs,28K,jobs.catererandhotelkeeper.com,20120315T000000,20120414T000000
24736,69201730,Responsible Engineer (C I),Wolverhampton,full-time,permanent,Forces Recruitment Services Ltd,IT Jobs,40K,fish4.co.uk,20121110T120000,20130109T120000
24917,69215440,Java/JavaScript Developer,UK,full-time,permanent,Hays North West,IT Jobs,17K,fish4.co.uk,20130527T000000,20130626T000000

We find two kinds of problmes. Some times salary is given as a range and some times 'K' is used to represent 1000.

We correct the first one by using the average value and second one by representing the number in proper form

In [36]:
# removing 'K' in salary with '000'
df1.loc[:,'Salary per annum'] = df1['Salary per annum'].apply(lambda x: float(x.strip('K').strip('k')+'000') if ('k' in x) | ('K' in x) else x)

In [37]:
# changing the range to avg value
df1.loc[:,'Salary per annum'] = df1['Salary per annum'].apply(lambda x: round((float(str(x).split('-')[0].strip())+float(str(x).split('-')[0].strip()))/2) if ('-' in str(x)) else x)

### 4i. Column: Source Name

Accordning to the specification, the source name should be a website. We check if all satidfies this. We use python re for this

In [38]:
# viewing all source names which are not websites
df1[df1.SourceName.apply(lambda x: re.match(r'[0-9a-zA-Z\.\-]+\.[a-zA-Z]+$', x) == None)]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
5663,66932999,Registered Midwives RM Lincolnshire Lincoln,Lincoln,part-time,non-specified,The A24 Group,Healthcare & Nursing Jobs,40140,monashstudent,20130124T150000,20130223T150000
12871,68393935,Killer Javascript role Exclusive to Brightwater,Belfast,full-time,permanent,Brightwater Group,IT Jobs,39996,jobcareer,20120205T150000,20120306T150000
15379,68672352,Digital Account Manager **** plus a Great Bonus,South East London,non-specified,permanent,Blu Digital,Sales Jobs,27504,admin@caterer.com,20120516T000000,20120715T000000

There are only 3 entries. We assume that the 'monashstudent' value refers to Monash students career portal, jobcareer refers to jobcareer.com which is a real career website and use caterer.com instead of admin@caterer.com

In [39]:
# replacing invalid sources
df1.SourceName.replace('monashstudent', 'careergateway.monash.edu.au', inplace = True)
df1.SourceName.replace('jobcareer', 'jobcareer.com', inplace = True)
df1.SourceName.replace('admin@caterer.com', 'caterer.com', inplace = True)

### 4j. Column: OpenDate

This field is a date. We can validate the date to find if all the entries are valid dates. We can use pyhton re for this

In [40]:
# printing invalid dates in OpenDate
df1[df1.OpenDate.apply(lambda x: re.match(r'201[0-9]((((0[13578]0[1-9]T.{6})|(0[13578][12][0-9]T.{6})|(0[13578]3[0-1]T.{6}))|((020[1-9]T.{6})|(02[12][0-9]T.{6}))|((0[4,6,9]0[1-9]T.{6})|(0[4,6,9][12][0-9]T.{6})|(0[4,6,9]30T.{6})))|(((1[02]0[1-9]T.{6})|(1[02][12][0-9]T.{6})|(1[02]3[0-1]T.{6}))|((110[1-9]T.{6})|(11[1-2][0-9]T.{6})|(1130T.{6}))))', x)==None)]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
1102,51593546,Community Nurse South London,UK,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,29004,careworx.co.uk,20131803T120000,20130417T120000
2104,61282006,Deputy Home Care Manager,Barnet,non-specified,non-specified,Not Available,Healthcare & Nursing Jobs,20004,careworx.co.uk,20132606T000000,20130710T000000
2839,64796836,"Technical Tester Manual, Automation, Java, SQ...",London,non-specified,permanent,Not Available,IT Jobs,19500,theitjobboard.co.uk,20122003T150000,20120519T150000
5707,66935867,"Technical Sales Manager, Pigments Fillers to S...",UK,non-specified,non-specified,Wallace Hind Selection Llp,Sales Jobs,45000,salestarget.co.uk,20121512T150000,20130213T150000
10881,68257270,Desire a Change? London ****K Basic ****K OTE,South East London,non-specified,non-specified,Zest 2 Recruitment,Sales Jobs,13500,salestarget.co.uk,20133004T150000,20130530T150000
11948,68350622,Mechanical Design Engineer (HVAC),Gainsborough,non-specified,permanent,Not Available,IT Jobs,39996,technojobs.co.uk,20131908T000000,20131117T000000
15353,68671948,Investment Analyst,Cheshire,non-specified,permanent,Idex Consulting Llp,Accounting & Finance Jobs,24000,totaljobs.com,20121406T120000,20120912T120000
22918,69072305,Scheme Actuary,Hampshire,non-specified,permanent,Sammons Pensions,Accounting & Finance Jobs,54996,professionalpensionsjobs.com,20131509T000000,20131114T000000
23007,69079402,Naval architect/structural engineer,Newcastle Upon Tyne,non-specified,permanent,Workshop Recruitment,Engineering Jobs,33504,cv-library.co.uk,20132901T150000,20130429T150000
23169,69080910,MS (Elec biased) Maintenance Engineer / Superv...,Harrogate,non-specified,permanent,Jenrick Engineering,Engineering Jobs,17004,cv-library.co.uk,20132108T120000,20131119T120000

We can find that in the above dates, the month number is greater than 12. But at the same time the day value is all less than 12. This could be an arror caused because of some sources following different date representation format such as US date format.

We swap the month and date mutually.

In [41]:
# correcting invalid open dates
df1.loc[:,'OpenDate'] = df1.OpenDate.apply(lambda x: (x[0:4] + x[6:8] + x[4:6] + x[8:]) if (int(x[4:6]) > 12) else x )

### 4k. Column: CloseDate

We check for invalid dates in this field also.

In [42]:
# printing invalid dates in CloseDate
df1[df1.CloseDate.apply(lambda x: re.match(r'201[0-9]((((0[13578]0[1-9]T.{6})|(0[13578][12][0-9]T.{6})|(0[13578]3[0-1]T.{6}))|((020[1-9]T.{6})|(02[12][0-9]T.{6}))|((0[4,6,9]0[1-9]T.{6})|(0[4,6,9][12][0-9]T.{6})|(0[4,6,9]30T.{6})))|(((1[02]0[1-9]T.{6})|(1[02][12][0-9]T.{6})|(1[02]3[0-1]T.{6}))|((110[1-9]T.{6})|(11[1-2][0-9]T.{6})|(1130T.{6}))))', x)==None)]

Empty DataFrame
Columns: [Id, Title, Location, ContractType, ContractTime, Company, Category, Salary per annum, SourceName, OpenDate, CloseDate]
Index: []

So all the dates are valid. One of the other possible issue is ClosingDate being before the OpenDate. We check for it also.

In [43]:
# checking for opendates > closedate
df1[df1.apply(lambda x: int(x.OpenDate[0:8]) > int(x.CloseDate[0:8]), axis = 1)]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
6659,67330693,Pensions Implementation Manager,Brighton,non-specified,permanent,Not Available,Accounting & Finance Jobs,35004,hays.co.uk,20130703T000000,20130404T000000
9568,68091856,Manager Technical Operations,Shepton Mallet,non-specified,permanent,Index Recruitment,IT Jobs,62004,totaljobs.com,20120306T000000,20120205T000000
11043,68290941,Planning Enforcement officer,London,full-time,contract,Randstad,Engineering Jobs,39360,jobs.planningresource.co.uk,20131105T000000,20131006T000000
12473,68360715,Penetration Tester / Reverse Engineer,UK,non-specified,contract,Vertex Solutions,IT Jobs,76908,cwjobs.co.uk,20131222T150000,20131023T150000
19142,68729089,Registered Home Manager Loughborough,Loughborough,full-time,non-specified,Compass Associates Ltd,Healthcare & Nursing Jobs,42504,staffnurse.com,20120803T150000,20120505T150000
24206,69173205,"User Interface/UI Developer JavaScript, jQuer...",London,non-specified,permanent,Dawson & Walsh,IT Jobs,45000,totaljobs.com,20130622T150000,20130324T150000
24297,69181738,Registered General Nurse (RGN)/ Registered Men...,Poole,full-time,non-specified,Executive Care Group Ltd,Healthcare & Nursing Jobs,24960,staffnurse.com,20130116T000000,20121018T000000
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full-time,permanent,Not Available,Engineering Jobs,24996,fish4.co.uk,20130708T120000,20130608T120000

We assume that this hapended because the dates get swapped. So we swap again to solve this problem.

In [44]:
# storing corrected dates serieses in seperate variables
newOpenDate = df1.apply(lambda x: x.CloseDate if (int(x.OpenDate[0:8]) > int(x.CloseDate[0:8])) else x.OpenDate, axis = 1)
newCloseDate = df1.apply(lambda x: x.OpenDate if (int(x.OpenDate[0:8]) > int(x.CloseDate[0:8])) else x.CloseDate, axis = 1)

# substituting stored corrected serieses to dataframe
df1.loc[: , 'OpenDate'] = newOpenDate
df1.loc[: , 'CloseDate'] = newCloseDate

## 5. Storing the Data 

Now we have the corrected dataset. We store it in the file as mentioned in the question

In [45]:
# storing data into file
df1.to_csv("dataset1_solution.csv", encoding = 'utf-8', index=False)

## 6. Summary
The given data contained a lot of errors. We have done the following works to clean it.
* removed Non-ascii characters from Tilte
* corrected spelling mistakes in Location
* replaced with proper phrases in ContractType and ContractTime
* formatted company names and joined together similar companies whenever possible
* reformatted and made the Salary per annum representation uniform
* corrected invalid dates from OpenDate
* corrected the problem of CloseDate being earlier than OpenDate

After the cleanup, the data is stored as csv file.

## References

- SeatGeek. (2018). 'FuzzyWuzzy'. Retrieved from https://github.com/seatgeek/fuzzywuzzy
- Wikipedia. (2018). 'Mitsubishi'. Retrieved from https://en.wikipedia.org/wiki/Mitsubishi